.earn-your-share {
  .parallaxed {
    img {
      max-height: 324px;
      max-width: 442px;
      opacity: 0;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  .section-head-desc {
    max-width: 440px;
  }

  .parallaxed-2 img {
    transform: translateX(-10%) scale(0.8);
  }

  .parallaxed.in {
    img {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @media (max-width: $md-max) {
    flex-direction: column-reverse;
    justify-content: flex-end;

    .description {
      flex: initial;
      padding-left: 0;
      width: 100%;
    }

    .parallaxed {
      margin-top: 40px;
      flex: initial;
    }
  }
}
