.head {
  max-width: 906px;
  width: 100%;
  padding-top: 88px;
  padding-bottom: 64px;

  .image-graph img {
    width: 100%;
  }

  .line-graph {
    height: 280px;
    width: 438px;
  }

  .subtitle.lexend-body-m {
    margin: 16px 0 32px;
    max-width: 546px;
    width: 100%;
  }

  .head-details {
    max-width: 433px;
  }

  h2 {
    margin-bottom: 16px;
    color: $light100;
    letter-spacing: 0.1em;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
    transform: translateY(20px);

    span {
      color: $primary100;
    }
  }

  p {
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
    transform: translateY(-20px);
  }

  .coming {
    margin: 24px 0 86px;
    opacity: 0;
    font-weight: 700;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    span {
      color: $primary100;
      margin: 0 6px;
    }
  }

  .mobile-coming {
    display: none;
  }

  &.in {
    h2.vista-heading,
    p {
      opacity: 1;
      transform: translate(0, 0);
    }

    .coming {
      opacity: 1;
      transition-delay: 0.2s;
    }
  }

  @media (max-width: $md-max) {
    .head-content {
      flex-direction: column;
    }

    .image-graph {
      margin-top: 64px;
    }
  }

  @media (max-width: $sm-max) {
    padding-bottom: 0;

    .mobile-coming {
      margin: 32px 0 48px;
      display: flex;
      font-weight: 700;

      span {
        color: $primary100;
        margin: 0 6px;
      }
    }

    .head-details {
      max-width: 100%;
    }

    .image-graph {
      display: none;
    }

    .line-graph {
      display: none;
    }

    .coming {
      display: none;
    }

    .action {
      width: 100%;
      margin-top: 32px;

      .btn-primary {
        flex: 1;
        text-align: center;
        padding: 16px;
      }
    }
  }

  @media (max-width: $xs-max) {
    padding-top: 0;
  }
}
