.head {
  max-width: 906px;
  width: 100%;
  padding-top: 88px;
  padding-bottom: 64px;

  .image-graph img {
    width: 100%;
  }

  .line-graph {
    height: 280px;
    width: 438px;
  }

  .countdown .countdown-numbers span {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    width: 17px;
    height: 26px;
    color: $light100;
  }

  .subtitle {
    margin: 16px 0 32px;
    max-width: 546px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.05em;
  }

  .head-details {
    max-width: 433px;
  }

  h2 {
    margin-bottom: 16px;
    color: $light100;

    span {
      color: $primary100;
    }
  }

  .coming {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    margin: 24px 0 86px;

    .coming-desc {
      margin-right: 16px;
    }
  }

  .mobile-coming {
    display: none;
  }

  @media (max-width: $md-max) {
    .head-content {
      flex-direction: column;
    }
  }

  @media (max-width: $sm-max) {
    padding-bottom: 0;

    .mobile-coming {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.1em;
      color: $light100;
      margin: 32px 0 48px;
      display: block;
    }

    h2 {
      font-size: 40px !important;
      line-height: 50.4px !important;
    }

    .head-details {
      max-width: 100%;
    }

    .image-graph {
      display: none;
    }

    .line-graph {
      display: none;
    }

    .coming {
      display: none;
    }

    .action {
      width: 100%;

      .btn-primary {
        flex: 1;
        text-align: center;
        padding: 16px;
      }
    }
  }

  @media (max-width: $xs-max) {
    padding-top: 0;

    h2 {
      font-size: 24px !important;
      line-height: 33.4px !important;
    }
  }
}
