.community {
  width: 100%;

  .section-head-title {
    strong {
      white-space: nowrap;
    }
  }

  .section-desc {
    max-width: 540px;
  }

  .action {
    margin-left: 22px;
    margin-top: 32px;
  }

  .tabs {
    margin-left: 22px;
    margin-top: 40px;

    .heads {
      max-width: 423px;
    }
  }

  .statistics {
    margin-top: 40px;
    max-width: 454px;
  }

  .governance {
    margin: 40px -16px 0;
    max-width: 1200px;
    width: 100%;

    .col {
      padding: 0 16px;
      opacity: 0;
      transition: 0.3s ease-in;

      &:nth-child(2) {
        transition-delay: 0.1s;
      }
      &:nth-child(3) {
        transition-delay: 0.2s;
      }
      &:nth-child(4) {
        transition-delay: 0.3s;
      }
    }

    .lexend-heading-m {
      margin-bottom: 16px;
    }
  }

  .body-item-enter-done {
    .col {
      opacity: 1;
    }
  }

  .hall-of-fame {
    max-width: 50%;
    position: relative;

    .swiper {
      padding-bottom: 34px;

      .swiper-slide {
        width: auto;
      }
    }

    .swiper-next {
      right: -88px;
      left: auto;
      transform: translate(0, 0);
    }

    .swiper-prev {
      left: -88px;
      transform: translate(0, 0);
    }

    .col {
      padding-top: 29px;
      white-space: nowrap;
    }

    .lexend-heading-l {
      font-weight: 600;
      letter-spacing: 0.05em;
      color: $primary100;
    }

    .lexend-body-s {
      margin-top: 5px;
    }
  }

  .community-desc-container {
    position: relative;
  }

  // PARALLAX DEVICES
  .parallaxed-devices {
    position: absolute;
    right: 0;
    top: -40px;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    img {
      max-height: 412px;
      max-width: 412px;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
      opacity: 0;
    }

    .parallaxed-1 {
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 44%;
        height: 0;
        width: 1.4%;
        z-index: -1;
        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
        transition-delay: 0.2s;
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 47%;
        height: 0;
        width: 6.6%;
        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }

    .parallaxed-2 img {
      opacity: 0;
      transform: translateY(20%);
    }

    &.in {
      .parallaxed-1 {
        &:after,
        &:before {
          background-color: $primary100;
          box-shadow: 0 0 50px rgba(235, 58, 74, 0.5);
          height: 97.4%;
        }
      }

      .parallaxed-1 img,
      .parallaxed-2 img,
      .parallaxed-3 img {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }

  .changing {
    .parallaxed-devices {
      opacity: 0;
      transform: scale(0.7);

      .parallaxed-1 {
        &:after,
        &:before {
          background-color: transparent;
          box-shadow: 0 0 0 transparent;
          height: 0;
        }
      }
    }
  }

  // PARALLAX BANNER
  .parallaxed-banner {
    position: absolute;
    right: 0;
    top: -40px;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    .action {
      margin-top: 23px;
      opacity: 0;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      transition-delay: 0.3s;
    }

    img {
      max-width: 412px;
      max-height: 412px;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .parallaxed-1 {
      img {
        transform: translateY(-10%);
        opacity: 0;
      }
    }

    .parallaxed-2 {
      img {
        transform: translateY(10%);
        opacity: 0;
        transition-delay: 0.3s;
      }
    }

    &.in {
      .action {
        opacity: 1;
      }
      .parallaxed-1 img,
      .parallaxed-2 img {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }

  .changing {
    .parallaxed-banner {
      opacity: 0;
      transform: scale(0.7);

      .parallaxed-1 {
        img {
          transform: translateY(-10%);
          opacity: 0;
        }
      }

      .parallaxed-2 {
        img {
          transform: translateY(10%);
          opacity: 0;
          transition-delay: 0.3s;
        }
      }
    }
  }

  // PARALLAX TROPHY
  .parallaxed-trophy {
    position: absolute;
    right: 0;
    top: -40px;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    .action {
      margin-top: 15px;
      opacity: 0;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      transition-delay: 0.3s;
    }

    img {
      max-height: 412px;
      max-width: 412px;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .parallaxed-1 {
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 44%;
        height: 0;
        width: 1.4%;
        z-index: -1;
        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
        transition-delay: 0.2s;
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 47%;
        height: 0;
        width: 6.6%;
        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
      }

      img {
        opacity: 0;
      }
    }

    .parallaxed-2 {
      width: 100%;
      margin-top: -7%;

      img {
        opacity: 0;
        transform: translateY(20%);
      }
    }

    &.in {
      .action {
        opacity: 1;
      }
      .parallaxed-1 {
        &:after,
        &:before {
          background-color: $primary100;
          box-shadow: 0 0 50px rgba(235, 58, 74, 0.5);
          height: 97.4%;
        }
      }

      .parallaxed-1 img,
      .parallaxed-2 img {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }

  .changing {
    .parallaxed-trophy {
      opacity: 0;
      transform: scale(0.7);

      .parallaxed-1 {
        img {
          opacity: 0;
        }
      }

      .parallaxed-2 {
        width: 100%;
        margin-top: -7%;

        img {
          opacity: 0;
          transform: translateY(20%);
        }
      }
    }
  }

  // PLAYERS SWIPER
  .players-swiper {
    position: absolute;
    right: 0;
    top: -40px;
    width: 320px;
    opacity: 0;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    &.in {
      opacity: 1;
    }

    .lexend-body-xl {
      font-weight: 900;
      margin-top: 48px;
      margin-bottom: 8px;
      color: $primary100;
      letter-spacing: 2.4px;
    }

    .swiper-pagination {
      bottom: auto;
      top: 416px;
    }

    .swiper-pagination-bullet {
      margin: 0 5px;
      background-color: #171717;
      border-radius: 0;
      opacity: 1;
      cursor: pointer;
      transition: 0.2s ease-in;

      &.swiper-pagination-bullet-active {
        background-color: #eb3a4a;
      }
    }

    .swiper-prev,
    .swiper-next {
      z-index: 2;
      position: absolute;
      top: 158px;
      left: 50%;
      transform: translateX(-50%);
      padding: 32px;
      opacity: 0;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .swiper-prev {
      margin-left: -104px;
    }

    .swiper-next {
      margin-left: 104px;
    }

    &.in {
      .swiper-prev {
        opacity: 1;
        margin-left: -204px;
      }

      .swiper-next {
        opacity: 1;
        margin-left: 204px;
      }
    }
  }

  .changing {
    .players-swiper {
      opacity: 0;
      transform: scale(0.7);
    }
  }

  @media (max-width: $lg-max) {
    .hall-of-fame {
      .swiper-prev {
        left: -40px;
        padding: 8px;
      }

      .swiper-next {
        right: -40px;
        padding: 8px;
      }
    }
  }

  @media (max-width: $md-max) {
    .description {
      margin-bottom: 64px;
    }

    .action {
      margin-left: 0;
    }

    .hall-of-fame {
      max-width: 100%;
    }

    .parallaxed-banner,
    .parallaxed-devices,
    .players-swiper,
    .parallaxed-trophy {
      position: relative;
      top: initial;
      left: initial;
    }

    .parallaxed-trophy {
      .parallaxed-2 {
        width: auto;
      }
    }

    .players-swiper {
      margin: 0 auto;
    }

    .governance {
      flex-wrap: wrap;
      margin-top: 0px;

      .col {
        margin-top: 40px;
        flex: 0 0 50%;
      }
    }
  }

  @media (max-width: $sm-max) {
    .tabs {
      margin-left: 0;

      .heads {
        overflow-x: auto;
        overflow-y: hidden;
        max-width: 100%;
      }
    }

    .statistics {
      flex-wrap: wrap;
      margin-top: 40px;

      .col {
        flex: 0 0 50%;
        margin: 16px 0 0;
        padding: 0 10px;
      }
    }
  }

  @media (max-width: $xxs-max) {
    .section-head-title {
      font-size: 18px;
    }

    .governance .col {
      flex: 0 0 100%;
    }
  }
}
