.page-section-4 {
  height: 100vh;
}

.our-players {
  .section-head-desc {
    max-width: 500px;
  }

  .statistics {
    max-width: 400px;
    margin-top: 48px;

    .stats-label {
      margin-top: 8px;
      line-height: 28px;
      word-spacing: 99999px;
    }
  }

  .players-swiper {
    position: relative;

    .swiper {
      width: 320px;
    }
  }

  .swiper-name {
    margin-top: 48px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    color: $primary100;
    letter-spacing: 2.4px;
  }

  .swiper-description {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.8px;
  }

  .swiper-pagination {
    bottom: auto;
    top: 416px;
  }

  .swiper-pagination-bullet {
    margin: 0 5px;
    background-color: #171717;
    border-radius: 0;
    opacity: 1;
    cursor: pointer;
    transition: 0.2s ease-in;

    &.swiper-pagination-bullet-active {
      background-color: #eb3a4a;
    }
  }

  .swiper-prev,
  .swiper-next {
    z-index: 2;
    position: absolute;
    top: 158px;
    left: 50%;
    transform: translateX(-50%);
    padding: 32px;
    opacity: 0;
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .swiper-prev {
    margin-left: -104px;
  }

  .swiper-next {
    margin-left: 104px;
  }

  .players-swiper.in {
    .swiper-prev {
      opacity: 1;
      margin-left: -204px;
    }

    .swiper-next {
      opacity: 1;
      margin-left: 204px;
    }
  }

  @media (max-width: $md-max) {
    flex-direction: column;
    justify-content: flex-start;

    .description {
      width: 100%;
    }

    .statistics {
      margin-top: 24px;
      margin-bottom: 18px;

      .stats-label {
        font-size: 14px;
      }
    }
  }

  @media (max-width: $sm-max) {
    .description,
    .players-swiper {
      flex: initial;
    }

    .swiper-prev {
      margin-left: -137px;
    }
    .swiper-next {
      margin-left: 137px;
    }
  }

  @media (max-width: $xxs-max) {
    .players-swiper {
      .swiper {
        width: 260px;
      }

      .swiper-pagination {
        top: 345px;
      }
    }
  }
}
