.partners {
  .description {
    flex: 0 0 50%;
  }

  .list {
    margin-top: 56px;

    &.in {
      .list-item {
        opacity: 1;
      }
    }
  }

  .list-item {
    width: 33.333%;
    padding-right: 10px;
    opacity: 0;
    transition: 0.3s ease-in;

    @for $i from 1 through 9 {
      &:nth-child(#{$i}) {
        transition-delay: 0.1s * $i;
      }
    }

    img {
      max-height: 59px;
      max-width: 100%;
    }
  }

  .swissborg {
    img {
      height: 125px;
      margin-bottom: 32px;
    }
  }

  .lexend-body-xl {
    margin-bottom: 16px;

    strong {
      color: $swissborg100;
    }
  }

  .lexend-heading-s {
    max-width: 350px;
  }

  @media (max-width: $md-max) {
    flex-direction: column;

    .swissborg {
      margin-top: 64px;
    }
  }

  @media (max-width: $sm-max) {
    .list-item {
      width: 50%;
    }
  }
}
