.partners {
  .description {
    flex: 0 0 50%;
  }

  .list {
    margin-top: 56px;
  }

  .list-item {
    width: 33.333%;

    img {
      height: 59px;
    }
  }

  .swissborg {
    img {
      height: 125px;
      margin-bottom: 32px;
    }
  }

  .swissborg-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.05em;
    margin-bottom: 16px;

    span {
      color: $swissborg100;
    }
  }

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.01em;
    max-width: 350px;
  }
}
