.howto {
  .content-line {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: -16px;
      top: 38px;
      bottom: 32px;
      width: 1px;
      background-color: $primary100;
      opacity: 0;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &:before {
      content: "";
      position: absolute;
      left: -16px;
      bottom: 32px;
      width: 16px;
      height: 16px;
      background: $primary100;
      box-shadow: 0px 0px 32px $primary100;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      opacity: 0;
    }

    &.with-line {
      &:after,
      &:before {
        opacity: 1;
      }
    }
  }

  .content {
    max-width: 906px;
    margin: 0 auto;
    width: 100%;

    h2 {
      color: $light100;
      text-align: center;
    }
  }

  .btn-title {
    font-family: $secondary-font-family;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    color: $white;
  }

  .btn-desc {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 4px;
    color: $white;
  }

  .choose-method {
    margin: 32px -12px;

    .icon {
      margin-right: 32px;

      img {
        height: 40px;
      }
    }
  }

  .btn-method {
    background-color: $gray700;
    padding: 16px;
    margin: 0 12px;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: -16px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background: $primary100;
      box-shadow: 0px 0px 32px $primary100;
      opacity: 0;
    }

    &:hover,
    &.active {
      background-color: $primary100;
    }

    &.active {
      &:after {
        opacity: 1;
      }
    }
  }

  .list-points {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: $light100;
    margin-top: 64px;

    span {
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      color: #777;
    }

    .list-item {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .data-block {
    padding: 32px;
    background-color: $dark100;
    margin-top: 32px;
    min-width: 319px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    &.with-cube {
      padding-left: 64px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 32px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background: $primary100;
        box-shadow: 0px 0px 32px $primary100;
      }
    }

    &.block-big {
      font-size: 20px;
      font-weight: 300;
      line-height: 25px;
      color: #777777;

      span {
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        color: $white;
      }
    }
  }

  .chevron {
    margin-top: 32px;
    height: 84px;
  }

  .prometheus-holders {
    margin-bottom: 64px;
  }

  .footnote {
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-align: center;
    color: $gray100;
  }

  @media (max-width: 1058px) {
    .blocks-row {
      flex-wrap: wrap;
    }

    .data-block.expand {
      flex: 0 0 100%;
    }

    .chevron {
      transform: rotate(90deg);
    }

    .content-line {
      &:after,
      &:before {
        display: none;
      }
    }

    .btn-method.active {
      &:after {
        display: none;
      }
    }
  }

  @media (max-width: $md-max) {
    .choose-method {
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
    }

    .btn-method {
      width: 100%;
      margin: 16px 0;
    }
  }

  @media (max-width: $sm-max) {
    .content h2 {
      font-size: 24px;
      line-height: 30px;
      width: 100%;
      margin-top: 48px;
      margin-bottom: 0;
      text-align: left;
    }
  }

  @media (max-width: $xs-max) {
    .btn-title {
      font-size: 16px;
      line-height: 18px;
    }

    .btn-desc {
      font-size: 14px;
    }

    .blocks-row {
      justify-content: center;
      margin-bottom: 16px;
    }

    .chevron {
      margin: 0px 0 -36px;
      height: 48px;
    }

    .data-block {
      min-width: 0;
      font-size: 14px;
      padding: 16px;
      width: 100%;

      &.with-cube {
        padding-left: 48px;

        &:after {
          left: 16px;
        }
      }
    }

    .data-block.block-big {
      padding: 16px;
      font-size: 14px;

      &:after {
        display: none;
      }

      span {
        font-size: 14px;
      }
    }
  }
}
