.page-section-0 {
  height: 100vh;
}

.empower-players {
  .section-head-title {
    max-width: 400px;
  }

  .section-head-desc {
    max-width: 510px;
  }

  .statistics {
    padding-top: 52px;
  }

  .stats-label {
    padding-left: 14px;
  }

  .parallaxed img {
    max-height: 500px;
    max-width: 500px;
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .parallaxed-1 {
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 44%;
      height: 0;
      width: 1.4%;
      z-index: -1;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
      transition-delay: 0.2s;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 47%;
      height: 0;
      width: 6.6%;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    img {
      opacity: 0;
    }
  }

  .parallaxed-2 img {
    opacity: 0;
    transform: translateY(20%);
  }

  .parallaxed-3 img {
    opacity: 0;
    transform: translateY(-20%);
  }

  .parallaxed.in {
    .parallaxed-1 {
      &:after,
      &:before {
        background-color: $primary100;
        box-shadow: 0 0 50px rgba(235, 58, 74, 0.5);
        height: 97.4%;
      }
    }

    .parallaxed-1 img,
    .parallaxed-2 img,
    .parallaxed-3 img {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @media (max-width: $md-max) {
    flex-direction: column;
    justify-content: flex-start;

    .parallaxed {
      flex: initial;
      margin-top: 24px;
    }

    .description {
      flex: initial;
      width: 100%;
    }

    .statistics {
      padding-top: 24px;
    }
  }
}
