.landing-friends {
  position: relative;
  height: 100px;

  svg {
    margin: 0 12px;
    transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .swiper {
    max-width: 600px;
    margin: 0 auto;
    overflow: initial;
    pointer-events: none;
  }

  .swiper-slide {
    width: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }
}
