.landing-friends {
  position: relative;
  height: 100px;

  &:hover {
    svg {
      opacity: 0.5;
    }
  }

  svg {
    margin: 0 12px;
    transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}
