.about-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: $black;
  padding-bottom: 136px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h1 {
      font-family: $integralCF;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 64px;
      color: var(--gray100);
      margin-bottom: 80px;
    }

    .cards-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 100px;

      .card {
        width: 100%;
        min-width: 150px;
        max-width: 285px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;

        .content {
          padding: 0;

          h3 {
            font-family: Lexend;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--gray100);
            margin-bottom: 16px;
          }

          p {
            font-family: Lexend;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            color: var(--gra300);
          }
        }

        @media screen and (max-width: 700px) {
          flex-direction: row;
          max-width: 100%;
        }
      }

      @media screen and (max-width: 700px) {
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }

    @media screen and (max-width: $sm-max) {
      h1 {
        font-size: 40px;
        line-height: 48px;
        margin-left: 8%;
      }

      .layout-image {
        visibility: hidden !important;
      }
    }
  }

  @media screen and (max-width: $sm-max) {
    .layout-image {
      visibility: hidden;
    }
  }
}
