.simplebar-container {
  height: 100vh;
  overflow: hidden;
  transform: translateZ(0);

  .simplebar-init {
    & > .simplebar-track.simplebar-horizontal {
      display: none;
    }

    & > .simplebar-track.simplebar-vertical {
      top: $header-xl + 32px;
    }
  }

  @media (max-width: $lg-max) {
    padding-top: $header-md;
  }
}
