.open-to-community {
  h2 {
    color: $light100;
    margin-bottom: 24px;

    span {
      color: $primary100;
    }
  }

  .desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: $light100;
  }

  .content {
    max-width: 672px;
    width: 100%;
  }

  .token-utility {
    margin-top: 93px;

    h4 {
      font-family: $main-font-family;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.1em;
      color: $primary100;
      margin-bottom: 16px;
    }

    .action {
      margin-top: 32px;
    }
  }

  .parallaxed {
    img {
      max-width: 169px;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      transform: scale(0.7) rotate(20deg);
      opacity: 0;
    }

    &.in {
      img {
        transform: scale(1) rotate(0);
        opacity: 1;
      }
    }
  }
}
