.start-earning-today {
  position: relative;

  .plus {
    margin: 20px 0;
  }

  .wave-container {
    width: 470px;
  }

  .progressbar {
    margin: 16px 0 32px;
  }

  .wave-ends {
    .title {
      margin-bottom: 16px;
    }
  }

  .start {
    width: 100%;
    text-align: center;
  }

  h2 {
    position: relative;
    white-space: nowrap;

    .base {
      opacity: 0;
    }

    .scramble {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .section-head-desc {
    margin-left: auto;
    text-align: center;
  }

  .btn-primary {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
  }

  .parallaxed-left {
    position: absolute;
    left: -3%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -3%;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 170px;
      height: 170px;
      background-color: $primary100;
      filter: blur(150px);
      z-index: -1;
      opacity: 0;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    img {
      max-width: 315px;
      max-height: 453px;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .parallaxed-2 {
      &:after {
        content: "";
        position: absolute;
        bottom: 23.62%;
        right: 17.14%;
        height: 2.65%;
        width: 0;
        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
      }

      &:before {
        content: "";
        position: absolute;
        bottom: 21.19%;
        right: 12.7%;
        height: 0.88%;
        width: 0;
        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
      }

      img {
        transform: translateX(-20%);
        opacity: 0;
      }
    }

    .parallaxed-2 img {
      transform: translateX(10%);
      opacity: 0;
    }
  }

  .parallaxed-right {
    position: absolute;
    right: -9%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -3%;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -79px;
      margin-left: -79px;
      width: 158px;
      height: 158px;
      background-color: $primary100;
      filter: blur(150px);
      z-index: -1;
      opacity: 0;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    img {
      max-width: 347px;
      max-height: 439px;
    }

    .parallaxed-1 img {
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .parallaxed-2 {
      &:after {
        content: "";
        position: absolute;
        top: 18%;
        left: 10.37%;
        height: 2.73%;
        width: 0;
        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
      }

      &:before {
        content: "";
        position: absolute;
        top: 15.49%;
        left: 6.34%;
        height: 0.91%;
        width: 0;
        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }

  .start.in {
    .section-head-desc {
      opacity: 1;
    }
  }

  .parallaxed-left.in {
    .parallaxed-1 img,
    .parallaxed-2 img {
      transform: translate(0, 0);
      opacity: 1;
    }

    &:after {
      opacity: 1;
      transition-delay: 0.5s;
    }

    .parallaxed-2 {
      &:after {
        background-color: $primary100;
        box-shadow: 0 0 10px $primary100;
        width: 31.11%;
        transition-delay: 0.3s;
      }

      &:before {
        background-color: $primary100;
        width: 18.1%;
        box-shadow: 0 0 10px $primary100;
        transition-delay: 0.5s;
      }
    }
  }

  .links {
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;
    height: 80px;
    font-size: 12px;
    line-height: 15px;

    a {
      color: #4f4e4e;
      padding: 10px 32px;
      white-space: nowrap;
      transition: 0.2s ease-in;

      &:hover {
        color: $primary100;
      }
    }
  }

  .parallaxed-right.in {
    &:after {
      opacity: 1;
      transition-delay: 0.5s;
    }

    .parallaxed-2 img {
      animation-name: ghostAnimation;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    .parallaxed-2 {
      &:after {
        background-color: $primary100;
        box-shadow: 0 0 10px $primary100;
        width: 28.24%;
        transition-delay: 0.3s;
      }

      &:before {
        background-color: $primary100;
        width: 16.43%;
        box-shadow: 0 0 10px $primary100;
        transition-delay: 0.5s;
      }
    }
  }

  @keyframes ghostAnimation {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-30px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @media (max-width: $lg-max) {
    flex-direction: column;
    padding-bottom: 80px;

    .description {
      width: 100%;
    }

    .wave-container {
      width: 100%;
      max-width: 470px;
      order: 1;
    }

    .start {
      order: 2;
      text-align: center;
      margin-top: 32px;

      h2 {
        font-size: 32px;
      }
    }

    .actions {
      order: 3;
      max-width: 390px;
      width: 100%;

      .btn-primary,
      .giveaways {
        width: 100%;
        text-align: center;
      }
    }

    .links {
      bottom: 0;
      justify-content: flex-start;

      a {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .parallaxed-elements {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 32px;
    }

    .parallaxed-right,
    .parallaxed-left {
      position: relative;
      flex: 1;
      left: initial;
      right: initial;

      img {
        width: 100%;
      }
    }
  }

  @media (max-width: $md-max) {
    padding-bottom: 0px;

    .links {
      position: relative;
      flex-wrap: wrap;
      height: auto;
      margin-bottom: 80px;
      width: 100%;

      a {
        width: 50%;
      }
    }

    .parallaxed-left:after {
      width: 70px;
      height: 70px;
      filter: blur(100px);
    }

    .parallaxed-right:after {
      width: 70px;
      height: 70px;
      filter: blur(100px);
      margin-top: -12px;
      margin-left: -10px;
    }
  }

  @media (max-width: $sm-max) {
    padding-bottom: 80px;
  }

  @media (max-width: 530px) {
    h2 {
      white-space: initial;
    }
  }

  @media (max-width: 400px) {
    .wave-details .subtitle {
      font-size: 14px;
    }
  }
}
