.tabs {
  padding-bottom: 20px;

  .body-item-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .body-item-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .body-item-exit {
    opacity: 1;
  }
  .body-item-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }

  .heads {
    background-color: $dark100;
    white-space: nowrap;

    a {
      padding-bottom: 8px;
      // font-family: Poppins;
      font-size: 10px;
      font-weight: 700;
      line-height: 16px;
      padding: 16px;
      position: relative;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      color: $gray100;

      &:hover {
        color: $primary100;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }

    .head-item {
      &:last-child {
        margin-right: 0;
      }

      &.active {
        a {
          color: $light100;

          &:after {
            background-color: $primary100;
            box-shadow: 0 0 10px 0 $primary100;
            width: 24px;
          }
        }
      }
    }
  }
}
