.start-playing-today {
  position: relative;

  h2 {
    position: relative;
    white-space: nowrap;
    margin-bottom: 16px;
  }

  .btn-primary {
    margin: 32px 0;
  }

  .parallaxed-left {
    position: absolute;
    left: -3%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -3%;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 170px;
      height: 170px;
      background-color: $primary100;
      filter: blur(150px);
      z-index: -1;
      opacity: 0;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    img {
      max-width: 315px;
      max-height: 453px;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .parallaxed-2 {
      &:after {
        content: "";
        position: absolute;
        bottom: 23.62%;
        right: 17.14%;
        height: 2.65%;
        width: 0;
        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
      }

      &:before {
        content: "";
        position: absolute;
        bottom: 21.19%;
        right: 12.7%;
        height: 0.88%;
        width: 0;
        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
      }

      img {
        transform: translate(-20%, 20%);
        opacity: 0;
      }
    }
  }

  .parallaxed-right {
    position: absolute;
    right: -9%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -3%;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -79px;
      margin-left: -79px;
      width: 158px;
      height: 158px;
      background-color: $primary100;
      filter: blur(150px);
      z-index: -1;
      opacity: 0;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    img {
      max-width: 347px;
      max-height: 439px;
    }

    .parallaxed-1 img {
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
      transform: scale(0.7) rotate(30deg);
    }

    .parallaxed-2 {
      &:after {
        content: "";
        position: absolute;
        top: 18%;
        left: 10.37%;
        height: 2.73%;
        width: 0;
        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
      }

      &:before {
        content: "";
        position: absolute;
        top: 15.49%;
        left: 6.34%;
        height: 0.91%;
        width: 0;
        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }

  .start.in {
    .section-head-desc {
      opacity: 1;
    }
  }

  .parallaxed-left.in {
    .parallaxed-1 img,
    .parallaxed-2 img {
      transform: translate(0, 0);
      opacity: 1;
    }

    &:after {
      opacity: 1;
      transition-delay: 0.5s;
    }

    .parallaxed-2 {
      &:after {
        background-color: $primary100;
        box-shadow: 0 0 10px $primary100;
        width: 31.11%;
        transition-delay: 0.3s;
      }

      &:before {
        background-color: $primary100;
        width: 18.1%;
        box-shadow: 0 0 10px $primary100;
        transition-delay: 0.5s;
      }
    }
  }

  .parallaxed-right.in {
    &:after {
      opacity: 1;
      transition-delay: 0.5s;
    }

    .parallaxed-1 img {
      transform: scale(1) rotate(0deg);
    }

    .parallaxed-2 img {
      animation-name: ghostAnimation;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    .parallaxed-2 {
      &:after {
        background-color: $primary100;
        box-shadow: 0 0 10px $primary100;
        width: 28.24%;
        transition-delay: 0.3s;
      }

      &:before {
        background-color: $primary100;
        width: 16.43%;
        box-shadow: 0 0 10px $primary100;
        transition-delay: 0.5s;
      }
    }
  }

  @media (max-width: 1290px) {
    .parallaxed-left {
      left: -5%;
    }
  }

  @media (max-width: $lg-max) {
    flex-direction: column;

    .content {
      flex-direction: column;
    }

    .description {
      width: 100%;
    }

    .parallaxed-elements {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 32px;
    }

    .parallaxed-right,
    .parallaxed-left {
      position: relative;
      flex: 1;
      left: initial;
      right: initial;

      img {
        width: 100%;
      }
    }
  }

  @media (max-width: $md-max) {
    h2 {
      margin-top: 64px;
    }

    .parallaxed-left:after {
      width: 70px;
      height: 70px;
      filter: blur(100px);
    }

    .parallaxed-right:after {
      width: 70px;
      height: 70px;
      filter: blur(100px);
      margin-top: -12px;
      margin-left: -10px;
    }
  }

  @media (max-width: 530px) {
    h2 {
      white-space: initial;
    }
  }
}
