.whynow {
  h2 {
    margin-bottom: 90px;
    color: $light100;

    span {
      color: $primary100;
    }
  }

  .content {
    max-width: 906px;
    width: 100%;

    .content-tabs {
      width: 388px;
      border-right: 1px solid $gray700;

      .single-tab {
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        color: $gray300;
        padding: 24px 0;

        span {
          margin-left: 16px;
          transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

          b {
            transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
          }
        }

        &.active {
          span {
            color: $white;
            font-weight: 600;

            b {
              color: $primary100;
            }
          }
        }
      }
    }

    .content-details {
      position: relative;

      .content-desc {
        position: absolute;
        top: 50%;
        left: 80px;
        transform: translateY(-50%);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}
