.whynow {
  width: 100%;

  h2 {
    margin-bottom: 90px;
  }

  .content {
    max-width: 906px;
    width: 100%;

    .content-tabs {
      width: 388px;
      border-right: 1px solid $gray700;

      .single-tab {
        color: $gray300;
        padding: 24px 0;

        .tab-title {
          margin-left: 16px;
          transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

          b {
            transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
          }
        }

        &.active {
          .tab-title {
            color: $white;
            font-weight: 600;

            b {
              color: $primary100;
            }
          }
        }
      }

      &.changing .content-desc {
        opacity: 0;
      }

      .content-desc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        width: 50%;
        transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
        color: $white;
      }
    }
  }

  @media (max-width: $md-max) {
    .mock-height {
      height: auto !important;
    }

    .content .content-tabs {
      width: 100%;
      border: none;

      .single-tab {
        flex-wrap: wrap;
      }

      .tab-title {
        color: $white;
        font-weight: 600;

        b {
          color: $primary100;
        }
      }

      .content-desc {
        position: relative;
        transform: translate(0, 0);
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 32px;
      }
    }
  }

  @media (max-width: $sm-max) {
    h2 {
      width: 100%;
      text-align: left;
      margin-top: 48px;
      margin-bottom: 8px;
    }
  }
}
