.token {
  .section-head-container {
    max-width: 550px;
  }

  h4 {
    font-family: $main-font-family;
    margin-top: 56px;
    margin-bottom: 16px;
    color: $primary100;
    font-weight: 700;
  }

  .countdown {
    margin-bottom: 32px;
    margin-top: 8px;
  }

  .parallaxed {
    img {
      max-width: 377px;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      transform: scale(0.7) rotate(20deg);
      opacity: 0;
    }

    &.in {
      img {
        transform: scale(1) rotate(0);
        opacity: 1;
      }
    }
  }
}
