.team {
  .section-head-container {
    max-width: 700px;
  }

  .section-head-desc {
    margin-left: 0;
  }

  .team-list {
    margin-top: 24px;
  }

  .team-tile-container {
    flex: 0 0 20%;
  }

  @media (max-width: $md-max) {
    .team-tile-container {
      flex: 0 0 25%;
    }
  }

  @media (max-width: 800px) {
    .team-tile-container {
      flex: 0 0 33.3333%;
    }
  }

  @media (max-width: $xs-max) {
    .team-tile-container {
      flex: 0 0 50%;
    }
  }

  @media (max-width: $xxs-max) {
    .team-tile-container {
      flex: 0 0 100%;
    }
  }
}
