.team {
  .section-head-container {
    max-width: 700px;
  }

  .section-head-desc {
    margin-left: 0;
  }

  .team-list {
    margin-top: 24px;
  }

  .team-tile-container {
    flex: 0 0 20%;
  }
}
