.social-icons {
  margin-left: -8px;
  margin-bottom: -8px;

  a {
    padding: 8px;

    svg path {
      transition: 0.15s ease-in;
    }

    &:hover {
      svg path {
        fill: $red100;
      }
    }
  }
}
