.page-section-1 {
  height: 100vh;
}

.get-rewarded {
  .section-head-desc {
    max-width: 420px;
  }

  .parallaxed img {
    max-width: 492px;
    max-height: 698px;
    opacity: 0;
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .parallaxed-1 {
    z-index: -1;

    & > div {
      position: relative;
      z-index: 1;
    }

    &:after,
    &:before {
      content: "";
      position: absolute;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
      right: 21.91%;
      width: 0;
    }

    &:after {
      bottom: 9.89%;
      height: 2.58%;
    }

    &:before {
      bottom: 13.75%;
      height: 0.86%;
      transition-delay: 0.3s;
    }
  }

  .parallaxed-2 img {
    transform: translate(10%, 10%);
  }

  .parallaxed-3 img {
    transform: translate(20%, -10%);
  }

  .parallaxed-4 img {
    transform: translate(-20%, 10%);
  }

  .parallaxed.in {
    img {
      opacity: 1;
      transform: translate(0, 0);
    }

    .parallaxed-1 {
      &:after,
      &:before {
        width: 48.67%;
        background-color: $primary100;
        box-shadow: 0 0 100px 0 rgba(235, 58, 74, 0.5);
      }
    }
  }

  @media (max-width: $md-max) {
    flex-direction: column;
    justify-content: flex-start;

    .description {
      flex: initial;
      padding-left: 0;
      width: 100%;
    }

    .parallaxed {
      margin-top: 40px;
      flex: initial;
    }
  }
}
