.line-graph {
  width: 100%;
  height: 234px;
  position: relative;

  .recharts-cartesian-axis-line,
  .recharts-cartesian-axis-tick-line {
    display: none;
  }

  .recharts-cartesian-axis-tick-value {
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    fill: $light100;
  }

  .recharts-cartesian-axis-tick:first-child {
    transform: translateX(10px);
  }

  .recharts-cartesian-axis-tick:last-child {
    transform: translateX(-10px);
  }

  .recharts-tooltip-wrapper {
    .recharts-tooltip {
      background-color: #212121;
      border: none;
      padding: 8px 16px;
      color: $white;

      .commited {
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        color: $primary100;
      }

      .submissions {
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        color: $white;
        margin: 4px 0;
      }

      .date {
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        color: $gray100;
      }
    }
  }
}
