.page-section-1 {
  overflow: hidden !important;
}

.gaming-profile {
  width: 100%;
  position: relative;

  .section-head-container {
    max-width: 510px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 2;
  }

  .background-images-grid {
    width: 1344px;
    margin: 0 auto;

    .grid-item {
      width: 416px;
      height: 236px;
      margin: 56px 16px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(0.7);
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

      img {
        max-width: 100%;
        max-height: 100%;
      }

      &:nth-child(2),
      &:nth-child(2) .game-tile {
        transition-delay: 0.1s;
      }
      &:nth-child(3),
      &:nth-child(3) .game-tile {
        transition-delay: 0.2s;
      }
      &:nth-child(4),
      &:nth-child(4) .game-tile {
        transition-delay: 0.3s;
      }
      &:nth-child(5),
      &:nth-child(5) .game-tile {
        transition-delay: 0.4s;
      }
      &:nth-child(6),
      &:nth-child(6) .game-tile {
        transition-delay: 0.5s;
      }
      &:nth-child(7),
      &:nth-child(7) .game-tile {
        transition-delay: 0.6s;
      }
      &:nth-child(8),
      &:nth-child(8) .game-tile {
        transition-delay: 0.7s;
      }
      &:nth-child(9),
      &:nth-child(9) .game-tile {
        transition-delay: 0.8s;
      }
    }

    &.in {
      .grid-item {
        transform: scale(1);

        &:nth-child(1) .game-tile {
          opacity: 0.05;
        }
        &:nth-child(2) .game-tile {
          opacity: 0.2;
        }
        &:nth-child(3) .game-tile {
          opacity: 1;
        }
        &:nth-child(4) .game-tile {
          opacity: 0.05;
        }
        &:nth-child(5) .game-tile {
          opacity: 0.2;
        }
        &:nth-child(6) .game-tile {
          opacity: 1;
        }
        &:nth-child(7) .game-tile {
          opacity: 0.05;
        }
        &:nth-child(8) .game-tile {
          opacity: 0.2;
        }
        &:nth-child(9) .game-tile {
          opacity: 1;
        }
      }
    }
  }
}
