.page-section-5 {
  min-height: 100vh;
  height: auto;
}

.our-team {
  .team-list {
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  @media (max-width: $sm-max) {
    .section-head-container {
      margin-top: 48px;
    }

    .team-list {
      .tile {
        width: 50%;
      }
    }
  }
}
