.page-section-5 {
  position: initial !important;
}

.get-started {
  width: 100%;

  .section-head-desc {
    max-width: 330px;
  }

  .btn-secondary {
    margin-left: 22px;
    margin-top: 24px;
  }

  .parallaxed-corner {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 85vh;
    width: 85vh;

    .parallaxed-layer,
    .parallaxed-base {
      height: 100%;

      img,
      div {
        height: 100%;
      }
    }

    img {
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .parallaxed-1 img {
      transform: translate(20%, 20%);
      opacity: 0;
    }
    .parallaxed-3 img {
      transform: translate(-20%, 0);
      opacity: 0;
    }
  }

  .parallaxed-corner.in {
    .parallaxed-1 img,
    .parallaxed-2 img,
    .parallaxed-3 img {
      opacity: 1;
      transform: translate(0%, 0);
    }
  }

  @media (max-width: $lg-max) {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 80px;

    .description {
      flex: initial;
      padding-left: 0;
      width: 100%;
    }

    .btn-container {
      .btn-secondary {
        width: 100%;
        margin-left: 0;
      }
    }

    .parallaxed-corner {
      position: relative;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      max-height: 80vh;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -20px;
        right: -30px;
        height: 26px;
        background-color: $primary100;
      }

      img {
        height: 100%;
        width: auto;
        max-width: 100%;
      }
    }
  }

  @media (max-width: $sm-max) {
    padding-bottom: 160px;
  }
}
