.next-big-thing {
  .content {
    margin-top: 56px;
    max-width: 672px;
    width: 100%;
  }

  h2 {
    color: $light100;
    margin-bottom: 24px;

    span {
      color: $primary100;
    }
  }

  .desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
  }

  .bubbles {
    margin-top: 65px;
  }

  .bubble {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $primary100;
    }

    span {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0.05em;
      color: $white;
    }
  }

  .bubble-title {
    margin-top: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;
  }

  .small-bubble {
    width: 125px;
    height: 125px;
  }

  .medium-bubble {
    width: 160px;
    height: 160px;
  }

  .big-bubble {
    width: 200px;
    height: 200px;
  }

  .estimate {
    margin-top: 35px;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.05em;

    a {
      text-decoration: underline;
    }
  }

  .forefront {
    margin-top: 93px;

    .content {
      max-width: 709px;
      width: 100%;
    }

    h2 {
      color: $light100;
      margin-bottom: 94px;

      span {
        color: $primary100;
      }
    }

    .cube {
      background: $primary100;
      box-shadow: 0px 0px 32px $primary100;
      width: 18px;
      height: 18px;
      margin-bottom: 18px;
      position: relative;
      z-index: 1;
    }

    .key-points {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 9px;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 100vw;
        background-color: #212121;
      }

      .col {
        padding: 0 32px;
      }

      .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        color: $primary100;
      }
    }
  }
}
