.gaming-badges {
  h2 span {
    white-space: nowrap;
  }
  .section-head-container {
    max-width: 441px;
  }

  .description {
    padding-left: 130px;
  }

  @media (max-width: $md-max) {
    flex-direction: column-reverse;

    .description {
      width: 100%;
      padding: 0 0 64px;
    }

    .gaming-card {
      margin-bottom: 128px;
    }
  }
}
