@font-face {
  font-family: $secondary-font-family;
  src: url("../assets/fonts/vista_nordic/VistaNordic Black.ttf");
  src: url("../assets/fonts/vista_nordic/VistaNordic Black.otf");
}

a {
  color: $light100;
  text-decoration: none;
}

.dud {
  opacity: 0.5;
}

.statistics {
  .col {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }
  }

  .stats-value {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: $primary100;
  }

  .stats-label {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-top: 8px;
  }
}

h1 {
  font-family: $secondary-font-family;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 6px;
  font-weight: 900;
}

h2 {
  font-family: $secondary-font-family;
  color: $primary100;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: $primary100;
}

h4 {
  font-size: 24px;
  font-family: $secondary-font-family;
  letter-spacing: 0.15rem;
}

.typography {
  h3 {
    margin-bottom: 16px;
    margin-top: 32px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 32px;
    color: $light100;
  }

  ul {
    list-style-type: disc;
    letter-spacing: 0.05em;
    padding-left: 24px;
    line-height: 26px;

    li {
      padding-bottom: 4px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.section-head-container {
  .section-border {
    flex: 0 0 4px;
    margin-right: 22px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      box-shadow: 0 0 10px 0 $primary100;
      background-color: $primary100;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  img {
    width: 10px;
    margin-bottom: 16px;
  }

  .logo-icon img {
    width: auto;
    height: 24px;
  }

  .section-head-top {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.05em;
    margin-bottom: 16px;
    color: $primary100;
  }

  .section-head-title {
    position: relative;
    overflow: hidden;

    span {
      color: $light100;
    }
  }

  .section-head-desc {
    line-height: 28px;
    font-size: 15px;
    color: $light100;
    letter-spacing: 0.1rem;
    margin-top: 16px;
    margin-left: 22px;
    transition: 0.3s ease-in;
  }

  @media (max-width: $md-max) {
    margin-top: 24px;

    .section-head-title {
      font-size: 24px;
      line-height: 30.24px;
    }

    .section-head-top {
      font-size: 16px;
      line-height: 22px;
    }

    .section-head-desc {
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.05rem;
      margin-left: 0;
    }

    .section-border {
      margin-right: 14px;
    }
  }
}

@media (max-width: $md-max) {
  .statistics {
    .stats-value {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.1rem;
    }
  }

  h4 {
    font-size: 18px;
    line-height: 18px;
  }

  .typography {
    ul {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.reveal-from-bottom {
  .word,
  .line {
    display: inline-block;
  }

  .letter {
    will-change: transform;
    position: relative;
    display: inline-block;
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.77, 0, 0.175, 1);
  }
}

.text-glitch {
  animation-name: glitch-anim-text;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes glitch-anim-text {
  0% {
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0)
      scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  2% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  4% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  7% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  8% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  9% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  9.9% {
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0)
      scale3d(-1, -1, 1);
  }
  10%,
  100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/* Flash */
@keyframes glitch-anim-flash {
  0%,
  5% {
    opacity: 0.2;
    transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
  }
  5.5%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}
