@font-face {
  font-family: $vistaNordic;
  src: url("../assets/fonts/vista_nordic/VistaNordic Black.ttf");
  src: url("../assets/fonts/vista_nordic/VistaNordic Black.otf");
}

a {
  color: $light100;
  text-decoration: none;
}

/* Vista nordic headings */

.vista-xl {
  font-size: 64px;
  line-height: 80px;
  font-family: $vistaNordic;
  color: $light100;

  span {
    color: $primary100;
  }

  @media (max-width: $sm-max) {
    font-size: 43px;
    line-height: 57px;
  }

  @media (max-width: $xxs-max) {
    font-size: 32px;
    line-height: 42px;
  }
}

h1.vista-heading {
  font-size: 48px;
  line-height: 60px;
  font-family: $vistaNordic;
  color: $light100;

  span {
    color: $primary100;
  }
}

h2.vista-heading {
  font-size: 40px;
  line-height: 56px;
  font-family: $vistaNordic;
  color: $light100;
  letter-spacing: 0.1em;

  span {
    color: $primary100;
  }

  @media (max-width: $sm-max) {
    font-size: 24px;
    line-height: 30px;
    width: 100%;
  }
}

h3.vista-heading {
  font-size: 32px;
  line-height: 48px;
  font-family: $vistaNordic;
  color: $light100;

  span {
    color: $primary100;
  }
}

h4.vista-heading {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  font-family: $vistaNordic;
  color: $light100;

  span {
    color: $primary100;
  }
}

/* Lexend headings */

.lexend-xl {
  font-size: 64px;
  line-height: 72px;
}

h1.lexend-heading {
  font-size: 48px;
  line-height: 56px;
}

h2.lexend-heading {
  font-size: 32px;
  line-height: 48px;
}

h3.lexend-heading {
  font-size: 24px;
  line-height: 40px;
}

.lexend-heading-l {
  font-size: 18px;
  line-height: 28px;
}

.lexend-heading-m {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: $light100;

  span {
    color: $primary100;
  }
}

.lexend-heading-s {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.lexend-heading-xs {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.lexend-heading-xxs {
  font-size: 10px;
  line-height: 16px;
  font-weight: 600;
}

/* Lexend body */

.lexend-body-xl {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.15rem;
}

.lexend-body-m {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.05em;

  @media (max-width: $sm-max) {
    font-size: 14px;
    line-height: 24px;
  }
}

.lexend-body-s {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.lexend-body-xs1 {
  font-size: 12px;
  line-height: 20px;
}

.lexend-body-xs2 {
  font-size: 12px;
  line-height: 14px;
}

.lexend-body-xxs {
  font-size: 10px;
  line-height: 16px;
}

/* Content typography */

.red-highlighted {
  padding: 0px 16px;
  line-height: 45px;
  color: $white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
  text-align: center;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $primary100;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }

  span {
    position: relative;
    z-index: 1;
    white-space: nowrap;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }

  @media (max-width: $sm-max) {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    padding: 4px 8px;
  }
}

.typography {
  ul {
    list-style-type: disc;
    letter-spacing: 0.05em;
    padding-left: 24px;
    line-height: 26px;

    li {
      padding-bottom: 4px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  @media (max-width: $sm-max) {
    ul {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

/* Statistics */

.statistics {
  .col {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }
  }

  .stats-value {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: $primary100;
  }

  .stats-label {
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-top: 8px;
  }

  @media (max-width: $md-max) {
    .stats-value {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.1rem;
    }
  }
}

/* Animated typography */

.reveal-from-bottom {
  .word,
  .line {
    display: inline-block;
  }

  .letter {
    will-change: transform;
    position: relative;
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.77, 0, 0.175, 1);
  }
}

.text-glitch {
  animation-name: glitch-anim-text;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
}
