// Color schema
$transparent: transparent;
$white: #fff;
$primary100: #eb3a4a;
$primary200: #4148ff;
$dark100: #111;
$dark200: #2c2c2c;
$dark300: #272727;
$dark400: #060606;
$gray100: #878787;
$gray200: #808080;
$gray300: #444444;
$gray700: #212121;
$light100: #d1d3d4;
$light200: #fcfcfc;
$neutral900: #171717;

$swissborg100: #01c38c;

// Fonts
$main-font-family: Lexend, sans-serif;
$secondary-font-family: Vista Nordic;
$poppins: "Poppins", sans-serif;
