.page-section-3 {
  height: 100vh;
}

.prometheus {
  .parallaxed img {
    max-width: 639px;
    max-height: 646px;
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .subtitle {
    margin: 44px 0 0 24px;
  }

  ul {
    margin-top: 12px;
    margin-left: 24px;
  }

  .parallaxed-1 img {
    transform: translate(20%, 20%);
    opacity: 0;
  }

  .parallaxed-2 img {
    transform: translate(-20%, 0);
    opacity: 0;
  }

  .parallaxed-3 img {
    transform: translate(20%, 0);
    opacity: 0;
  }

  .parallaxed-4 {
    &:after {
      content: "";
      position: absolute;
      bottom: 16.43%;
      left: 50%;
      transform: translateX(-50%);
      height: 1.7%;
      width: 0;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  .parallaxed-5 img {
    transform: scale(0.5) translateY(20%);
    opacity: 0;
  }

  .btn-secondary {
    margin-top: 24px;
    margin-left: 22px;
  }

  .parallaxed.in {
    .parallaxed-4 {
      &:after {
        width: 76%;
        background-color: $primary100;
        box-shadow: 0 0 4px rgba(235, 58, 74, 0.5);
      }
    }

    .parallaxed-1 img,
    .parallaxed-2 img,
    .parallaxed-3 img,
    .parallaxed-5 img {
      opacity: 1;
      transform: translate(0, 0);
      transition-delay: 0.4s;
    }
  }

  @media (max-width: $md-max) {
    flex-direction: column-reverse;
    justify-content: flex-start;

    .description,
    .parallaxed {
      flex: initial;
    }

    .description {
      width: 100%;
    }

    .btn-container {
      .btn-secondary {
        width: 100%;
        margin-left: 0;
      }
    }

    .subtitle {
      margin-left: 0;
      margin-top: 35px;
    }

    ul {
      padding-left: 22px;
      margin-left: 0;
    }
  }
}
