.prometheus {
  .section-head-container {
    max-width: 550px;
  }

  h4 {
    font-family: $main-font-family;
    margin-top: 56px;
    margin-bottom: 16px;
    color: $primary100;
    font-weight: 700;
  }

  .actions {
    margin-top: 32px;

    .btn-primary {
      margin-right: 24px;
    }
  }

  .parallaxed img {
    max-width: 639px;
    max-height: 646px;
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .parallaxed-1 img {
    transform: translate(20%, 20%);
    opacity: 0;
  }

  .parallaxed-2 img {
    transform: translate(-20%, 0);
    opacity: 0;
  }

  .parallaxed-3 img {
    transform: translate(20%, 0);
    opacity: 0;
  }

  .parallaxed-4 {
    &:after {
      content: "";
      position: absolute;
      bottom: 16.43%;
      left: 50%;
      transform: translateX(-50%);
      height: 1.7%;
      width: 0;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  .parallaxed-5 img {
    transform: scale(0.5) translateY(20%);
    opacity: 0;
  }

  .parallaxed.in {
    .parallaxed-4 {
      &:after {
        width: 76%;
        background-color: $primary100;
        box-shadow: 0 0 4px rgba(235, 58, 74, 0.5);
      }
    }

    .parallaxed-1 img,
    .parallaxed-2 img,
    .parallaxed-3 img,
    .parallaxed-5 img {
      opacity: 1;
      transform: translate(0, 0);
      transition-delay: 0.4s;
    }
  }

  @media (max-width: $md-max) {
    flex-direction: column;

    .description {
      width: 100%;
    }
  }

  @media (max-width: $xs-max) {
    .actions {
      flex-direction: column;
      align-items: flex-start;

      .btn-primary {
        margin-bottom: 16px;
      }
    }
  }
}
