.meet {
  .section-head-container {
    max-width: 608px;
  }

  .parallaxed {
    &:after {
      content: "";
      position: absolute;
      width: 16px;
      height: 0;
      top: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &:before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      margin-top: -262px;
      background: $primary100;
      box-shadow: 0px 0px 16px rgba(235, 58, 74, 0.5);
      opacity: 0;
    }
  }

  .parallaxed-community {
    width: 395px;
    height: 198px;
    background-color: $dark100;
    padding: 16px;
    position: relative;
    opacity: 0;
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);

    &:after {
      content: "";
      position: absolute;
      right: 34px;
      top: 50%;
      transform: translateY(-50%);
      height: 0;
      width: 15px;
      opacity: 0;
      transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .promo {
      width: 210px;
      height: auto;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0;
      transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
      transform: translateX(-30px);
    }

    .tags-list {
      z-index: 2;
    }

    .community-logo {
      width: 32px;
      height: 32px;
    }

    .community-title {
      font-size: 32px;
      font-weight: 700;
      line-height: 32px;
      font-family: $poppins;
      margin: 8px 0;
    }

    .tag {
      margin-right: 8px;
      font-family: $poppins;
      font-size: 10px;
      font-weight: 600;
      line-height: 15px;
      padding: 4px 8px;
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(1.5px);

      img {
        margin-right: 10px;
      }
    }
  }

  .parallaxed-offer {
    width: 395px;
    height: 124px;
    background-color: $dark100;
    margin-top: 32px;
    padding: 32px;
    opacity: 0;
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);

    .title {
      letter-spacing: 0;

      span {
        color: $primary100;
      }
    }

    .reward {
      margin-left: 24px;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      text-align: center;
      white-space: nowrap;

      img {
        width: 32px;
        height: 32px;
        margin-bottom: 8px;
      }
    }
  }

  .parallaxed {
    &.in {
      &:after {
        height: 473px;
        background: $primary100;
        box-shadow: 0px 0px 16px rgba(235, 58, 74, 0.5);
      }

      &:before {
        transition-delay: 0.4s;
        opacity: 1;
      }

      .parallaxed-community {
        opacity: 1;

        &:after {
          transition-delay: 0.3s;
          height: 100%;
          opacity: 1;
          background: $primary100;
          box-shadow: 0px 0px 16px $primary100;
        }

        .promo {
          transition-delay: 0.3s;
          transform: translateX(0);
          opacity: 1;
        }
      }

      .parallaxed-offer {
        transition-delay: 0.4s;
        opacity: 1;
      }
    }
  }
}
