.footer-links {
  height: 80px;
  font-size: 12px;
  line-height: 15px;
  transform: translateY(80px);

  a {
    color: #4f4e4e;
    padding: 10px 32px;
    white-space: nowrap;
    transition: 0.2s ease-in;

    &:hover {
      color: $primary100;
    }
  }

  @media (max-width: $lg-max) {
    &.row {
      justify-content: flex-start;
    }

    a {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  @media (max-width: $md-max) {
    flex-wrap: wrap;
    width: 100%;
    padding-top: 80px;
    transform: translateY(0);
    height: auto;

    a {
      width: 50%;
    }
  }

  @media (max-width: $sm-max) {
    padding-bottom: 80px;
    padding-top: 40px;
  }

  @media (max-width: $xxs-max) {
    a {
      width: 100%;
      text-align: center;
    }
  }
}
