.footer-links {
  height: 80px;
  font-size: 12px;
  line-height: 15px;
  transform: translateY(80px);

  a {
    color: #4f4e4e;
    padding: 10px 32px;
    white-space: nowrap;
    transition: 0.2s ease-in;

    &:hover {
      color: $primary100;
    }
  }

  @media (max-width: $lg-max) {
    &.row {
      justify-content: flex-start;
    }

    a {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  @media (max-width: $md-max) {
    position: relative;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding-top: 80px;
    transform: translate(0, 0);

    a {
      width: 50%;
    }
  }
}
