.page-section-1 {
  padding-top: 0 !important;
}

.vision {
  @import "./styles/VisionIntroduction";

  .mock-height {
    position: relative;
  }

  .vision-intro-parallaxed-container {
    position: absolute;
    top: 0;
    left: 0;
  }

  // States
  @import "./styles/State0Changing";
  @import "./styles/State1Active";
  @import "./styles/State1Changing";
  @import "./styles/State2Active";
  @import "./styles/State2Changing";
  @import "./styles/State3Active";
  @import "./styles/State3Changing";
  @import "./styles/State4Active";
  @import "./styles/State4Changing";

  // Components
  @import "./styles/CredentialNetwork";
  @import "./styles/ApplicationNetwork";
  @import "./styles/DecentralizedSocieties";
}
