.page-section-1 {
  padding-top: 0 !important;
}

.vision {
  width: 100%;

  .vision-container {
    width: 100%;
  }

  .page-border {
    position: relative;
    width: 32px;

    &:after {
      content: "";
      position: absolute;
      top: 70px;
      bottom: 32px;
      width: 1px;
      background-color: $primary100;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 32px;
      width: 16px;
      height: 16px;
      background: $primary100;
      box-shadow: 0px 0px 42px $primary100;
    }
  }

  .section-intro {
    padding: 32px;
    background: #111111;
    max-width: 484px;
    width: 100%;
    margin-bottom: 40px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: -32px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background: $primary100;
      box-shadow: 0px 0px 32px $primary100;
    }

    .title {
      font-size: 20px;
      font-weight: 500;
      line-height: 25px;
      margin-bottom: 4px;
    }

    .desc {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: #777;
    }
  }

  @media (max-width: $sm-max) {
    .page-border {
      display: none;
    }

    .section-intro:after {
      left: -16px;
    }
  }

  @import "./VisionIntroduction";
  @import "./CredentialNetwork";
  @import "./ApplicationNetwork";
  @import "./DecentralizedSocieties";
}
