.sort-group {
  position: relative;
  margin-top: 34px;

  .sort-group-title {
    margin-bottom: 8px;
    font-weight: 600;
  }

  .list {
    overflow-x: auto;
    padding-bottom: 12px;
  }

  .tag-sort-group {
    white-space: nowrap;
  }
}
