.landing-tokenized-esports {
  position: relative;
  z-index: 3;
  padding-top: 120px;
  padding-bottom: 10px;
  background-color: #000;

  .parallax-bubble {
    position: absolute;
    right: 32%;
    top: 55%;
    right: 26%;
    top: 37%;
  }

  .parallax-bubble2 {
    position: absolute;
    left: -10px;
    bottom: 30%;
    filter: blur(2px);
  }

  .parallax-bubble3 {
    position: absolute;
    left: 119px;
    bottom: 30%;
  }

  h2 {
    text-align: center;
    margin: 24px 0;

    .word {
      transform: translateY(16px);
      opacity: 0;
      transition: 3s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  p {
    color: #cacace;
    max-width: 511px;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    transition: 0.6s ease-in;
    background: linear-gradient(90deg, #dcdcdc 0%, #616161 102.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .red-bold {
    color: $red100;
    text-align: center;
    opacity: 0;
    transition: 0.6s ease-in;
  }

  .register-interest {
    max-width: 487px;
    margin-top: 21px;
    margin-bottom: 45px;
    position: relative;
    opacity: 0;
    transform: scale(0.8) transformY(16px);
    transition: 0.6s ease-in;

    .btn {
      position: absolute;
      right: 4px;
      top: 4px;
      bottom: 4px;
    }

    &.in {
      opacity: 1;
      transform: scale(1) transformY(0);
    }
  }

  .gradient-background {
    border-radius: 100px;
    border: 1px solid #343434;
    background: radial-gradient(
      60.3% 49.69% at 96.14% 86.39%,
      #171717 0%,
      rgba(0, 0, 0, 0.7) 100%
    );
    width: 592px;
    height: 96px;
    position: relative;
    opacity: 0;
    transition-delay: 0.2s;
    transition: 0.4s ease-in;

    &.in {
      opacity: 1;
    }

    .signin {
      border-radius: 360px;
      border: 1px solid rgba(235, 58, 74, 0.5);
      background: rgba(235, 58, 74, 0.1);
      backdrop-filter: blur(10px);
      color: $red100;
      padding: 8px 16px 8px 14px;
      transition: 0.15s ease-in;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      white-space: nowrap;
      margin-left: -50px;

      &:hover {
        color: #fff;
      }
    }

    .integralfc-body-md {
      background: linear-gradient(90deg, #dcdcdc 0%, #616161 102.73%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }
  }

  .lexend-body-smd {
    background: linear-gradient(90deg, #dcdcdc 0%, #616161 102.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 8px;
  }

  .tokenized-esports-tokens {
    transform: translateX(50%);

    img {
      opacity: 0;
      transform: translateY(16px) translateX(-16px);
      transition: 0.4s ease-in;

      &:first-child {
        margin-top: 28px;
      }

      &:nth-child(2) {
        margin-top: 23px;
      }

      &:nth-child(3) {
        margin-top: -10px;
        margin-left: -63px;
      }

      &:nth-child(4) {
        margin-top: -30px;
        margin-left: 33px;
      }

      &:last-child {
        margin-left: -60px;
        margin-bottom: 42px;
      }
    }

    &.in {
      img {
        opacity: 1;
        transform: translate(0, 0);

        &:nth-child(2) {
          transition-delay: 0.05s;
        }

        &:nth-child(3) {
          transition-delay: 0.1s;
        }

        &:nth-child(4) {
          transition-delay: 0.15s;
        }

        &:last-child {
          transition-delay: 0.2s;
        }
      }
    }
  }

  .bubble-buttons {
    margin-top: 48px;
  }

  .bubble {
    padding: 12px;
    border-radius: 360px;
    border: 1px solid rgba(52, 52, 52, 0.5);
    background: #080808;
    backdrop-filter: blur(10px);
    min-width: 164px;
    margin: 16px;

    img {
      margin-right: 19px;
    }

    &.last {
      width: 210px;
    }
  }

  .gamerbase {
    margin-top: 67px;
    padding-bottom: 50px;

    svg:first-child {
      margin-right: 8px;
    }
  }

  .in {
    .red-bold,
    p {
      opacity: 1;
      transition-delay: 0.4s;
    }

    h2 .word {
      opacity: 1;
      transform: translateY(0);

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: 0.1s + ($i * 0.035s);
        }
      }
    }
  }

  @media (max-width: $md-max) {
    padding-bottom: 80px;

    .tokenized-esports-tokens img:first-child {
      margin-top: 64px;
    }

    .gradient-background {
      .signin {
        left: 50%;
        top: 100%;
        transform: translate(-50%, -8px);
      }
    }
  }

  @media (max-width: $sm-max) {
    h2 {
      max-width: 396px;
      text-align: center;
      align-self: center;
    }

    .gradient-background {
      width: 100%;
    }
  }
}
