.landing-tokenized-esports {
  position: relative;
  z-index: 3;
  padding-top: 120px;
  padding-bottom: 120px;

  h2 {
    text-align: center;
    margin: 24px 0;

    .word {
      transform: translateY(16px);
      opacity: 0;
      transition: 3s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  p {
    color: #cacace;
    max-width: 511px;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    transition: 3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .red-bold {
    color: $red100;
    text-align: center;
    opacity: 0;
    transition: 3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .register-interest {
    width: 487px;
    margin-top: 56px;
    margin-bottom: 80px;
    position: relative;
    opacity: 0;
    transform: scale(0.8) transformY(16px);
    transition: 3s cubic-bezier(0.19, 1, 0.22, 1);

    .btn {
      position: absolute;
      right: 4px;
      top: 4px;
      bottom: 4px;
    }

    &.in {
      opacity: 1;
      transform: scale(1) transformY(0);
    }
  }

  .chat {
    width: 592px;

    .vote {
      padding: 16px 30px;
      border-radius: 16px;
      border: 1px solid #343434;
      background: rgba(9, 9, 9, 0.8);
      backdrop-filter: blur(10px);
      margin-bottom: 16px;
      opacity: 0;
      transform: translateY(16px);
      transition: 1s cubic-bezier(0.19, 1, 0.22, 1);

      .lexend-body-sl {
        color: #f0f0f0;
      }
    }

    .date {
      text-align: right;
      color: #cacace;
      padding-left: 21px;

      span {
        white-space: nowrap;
      }
    }

    .messanger {
      opacity: 0;
      transform: translateY(16px);
      transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .message {
      border-radius: 16px 16px 0px 16px;
      border: 1px solid #343434;
      background: rgba(9, 9, 9, 0.8);
      backdrop-filter: blur(10px);
      padding: 16px 24px;
      margin-bottom: 4px;
      align-self: flex-end;
      opacity: 0;
      transform: translateY(16px);
      transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .message-received {
      border-radius: 16px 16px 16px 0px;
      border: 1px solid #343434;
      background: #1f1f1f;
      backdrop-filter: blur(10px);
      padding: 16px 24px;
      margin-bottom: 4px;
      align-self: flex-start;
      opacity: 0;
      transform: translateY(16px);
      transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .option {
      margin-top: 34px;
    }

    .option-image {
      margin-right: 10px;
    }

    .progressbar {
      margin-top: 16px;
    }

    &.in {
      & > div {
        opacity: 1;
        transform: translateY(0px);

        @for $i from 1 through 7 {
          &:nth-child(#{$i}) {
            transition-delay: 0.1s + ($i * 0.08s);
          }
        }
      }
    }
  }

  .in {
    .red-bold,
    p {
      opacity: 1;
    }

    h2 .word {
      opacity: 1;
      transform: translateY(0);

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: 0.1s + ($i * 0.035s);
        }
      }
    }
  }
}
