.application-network {
  margin-top: 128px;

  .live {
    padding: 0px 16px;
    line-height: 45px;
    background: $primary100;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-align: center;
  }

  .big-title {
    font-family: $secondary-font-family;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: $light100;
    margin-left: 32px;

    span {
      color: $primary100;
    }
  }

  .subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.05em;
    max-width: 541px;
    margin-bottom: 32px;
    margin-top: 16px;
    padding-right: 16px;
  }

  .rooniverse {
    position: relative;
    max-width: 440px;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(50px);
    opacity: 0;

    .rooniverse-content {
      padding: 16px;
      border: 1px solid #2e2c37;
      margin-top: -1px;
    }

    .tags span {
      padding: 8px 16px;
      background-color: #111111;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      margin-right: 16px;
    }

    video {
      width: 100%;
      position: relative;
      z-index: 2;
    }

    .live {
      position: absolute;
      top: 24px;
      left: 24px;
      font-size: 20px;
      font-weight: 500;
      line-height: 40px;
      z-index: 3;
    }

    .intro-title {
      font-size: 32px;
      font-weight: 600;
      line-height: 39px;
      margin: 16px 0;
    }

    .rooniverse-desc {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      color: $gray100;
      margin-bottom: 16px;
    }

    .progress-info {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;

      span {
        margin-right: 32px;
        margin-bottom: 8px;
      }
    }

    &.in {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  .app-network-xborg {
    margin-top: 256px;
  }

  .parallaxed {
    transform: translateX(-41%);
  }

  .parallaxed-1 img {
    width: 348px;
    opacity: 0;
    transform: translateY(-25%) translateX(-20%) scale(0.8);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .parallaxed-2 {
    transform: translateY(-36%) translateX(82%);

    img {
      opacity: 0;
      transform: translateY(25%) translateX(20%) scale(0.8);
      max-width: 242px;
      transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  .parallaxed.in {
    .parallaxed-1 img,
    .parallaxed-2 img {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @media (max-width: 1250px) {
    .rooniverse {
      max-width: 350px;
    }
  }

  @media (max-width: $lg-max) {
    .parallaxed {
      margin-right: 14%;
    }
  }

  @media (max-width: $md-max) {
    .block-wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    .app-network-xborg {
      margin-top: 128px;
    }

    .rooniverse {
      max-width: 500px;
      margin-top: 32px;
    }

    .parallaxed {
      margin-right: 0;
      margin-top: 64px;
    }
  }

  @media (max-width: $sm-max) {
    .parallaxed-1 img {
      width: 70%;
    }
    .parallaxed-2 {
      transform: translateY(-36%) translateX(48%);
      img {
        max-width: 50%;
      }
    }
  }

  @media (max-width: $xs-max) {
    .big-title-container {
      flex-direction: column;
      align-items: flex-start;

      .big-title {
        margin-top: 16px;
        margin-left: 0;
      }
    }
  }
}
