@media (hover: hover) and (pointer: fine) {
  .shadow {
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    background-color: hsla(0, 0%, 100%, 0.3);
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-radius: 50%;
    filter: blur(50px);
    transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .shadow-out {
    opacity: 0;
  }

  .shadow-in {
    opacity: 1;
  }
}
