.landing-learnmore {
  position: relative;
  z-index: 3;
  padding-top: 120px;
  padding-bottom: 120px;

  .parallax-bubble {
    top: 0;
    right: 58px;
    position: absolute;
  }

  .parallax-bubble2 {
    top: 0;
    right: 117px;
    position: absolute;
  }

  .parallax-bubble3 {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    position: absolute;
  }

  h2 {
    max-width: 455px;
    margin-bottom: 56px;

    .word {
      transform: translateY(16px);
      opacity: 0;
      transition: 3s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  .list {
    margin: 0 -12px;
  }

  .block-container {
    width: 50%;
    padding: 12px;
  }

  .block {
    border-radius: 16px;
    border: 1px solid #343434;
    background: rgba(9, 9, 9, 0.8);
    backdrop-filter: blur(10px);
    padding: 40px 24px 24px;
    height: 100%;
    position: relative;
  }

  .lexend-body-sl {
    margin-bottom: 16px;
  }

  .lexend-body-md {
    color: #cacace;
  }

  .links {
    margin-top: 16px;

    a {
      svg {
        transition: 0.15s ease-in;
      }

      &:hover {
        svg {
          transform: translateX(4px);
        }
      }
    }
  }

  .lexend-body-s {
    color: $red100;
    text-transform: uppercase;
  }

  .btn {
    height: 48px;
    padding: 8px 16px;
  }

  .actions {
    margin-top: 43px;

    .link {
      padding: 8px 16px;
      margin-left: 8px;
    }
  }

  .prometheus-nft {
    .lexend-body-md {
      max-width: 229px;
    }
  }

  .xbg-token {
    .lexend-body-sl {
      max-width: 311px;
      margin-top: 4px;
    }

    .token-image {
      height: 116px;
      width: auto;
      margin: 16px 32px 0 16px;
    }
  }

  .prometheus {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: auto;
    z-index: -1;
  }

  .in {
    h2 .word {
      opacity: 1;
      transform: translateY(0);

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: 0.3s + ($i * 0.035s);
        }
      }
    }
  }

  @media (max-width: $md-max) {
    .list {
      .block-container {
        width: 100%;
      }

      .xbg-token {
        justify-content: space-between;
      }
    }

    .social-icons {
      margin-top: 32px;
    }
  }
}
