.page-section-1 {
  height: 100vh;
}

.more-than-fan {
  .parallaxed img {
    max-height: 509px;
    max-width: 355px;
  }

  .section-head-desc {
    max-width: 390px;
  }

  .parallaxed img {
    opacity: 0;
    transform: scale(0.6);
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .parallaxed-2 img {
    transition-delay: 0.2s;
  }

  .parallaxed-3 img {
    transition-delay: 0.4s;
  }

  .parallaxed.in {
    img {
      opacity: 1;
      transform: scale(1);
    }
  }

  @media (max-width: $md-max) {
    flex-direction: column;
    justify-content: flex-start;

    .description {
      flex: initial;
      padding-left: 0;
      width: 100%;
    }

    .parallaxed {
      margin-top: 40px;
      flex: initial;
    }
  }
}
