.landing-news {
  position: relative;
  padding-top: 90px;
  padding-bottom: 120px;
  margin-top: -63px;

  .parallax-bubble {
    top: 50%;
    left: 0;
    position: absolute;
  }

  h2 {
    margin-bottom: 56px;
    text-align: center;

    .word {
      transform: translateY(16px);
      opacity: 0;
      transition: 3s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  .shadow {
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-radius: 50%;
    filter: blur(50px);
    transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    &.out {
      opacity: 0;
    }
  }

  .swiper-slide {
    width: 33.3333%;
    padding: 0 12px;
  }

  .news-article {
    border-radius: 16px;
    border: 1px solid #343434;
    background: rgba(9, 9, 9, 0.8);
    backdrop-filter: blur(10px);
    padding: 32px 24px;
    opacity: 0;
    height: 100%;
    transform: translateY(16px);
    position: relative;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;

    .title {
      margin: 16px 0;
    }

    .description {
      margin-bottom: 12px;
      flex: 1;
    }

    .btn {
      height: 48px;
    }
  }

  .news-list {
    margin: 0 -12px 6px;

    &.in {
      .news-article {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .in {
    h2 .word {
      opacity: 1;
      transform: translateY(0);

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: 0.1s + ($i * 0.035s);
        }
      }
    }
  }

  @media (max-width: $md-max) {
    .news-list {
      flex-wrap: wrap;
      width: 100%;
      margin: 0 0 6px;

      .swiper-slide {
        width: 100% !important;
      }
    }
  }
}
