nav.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 32px;
  height: 60px;
  z-index: 10;
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(-30px);

  .brand {
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .nav-bar {
    background-color: tomato;
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    padding: 0;
  }

  li {
    opacity: 0;
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;

    svg {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  a {
    color: #fff;
    padding: 0 32px;
  }

  .left {
    li:nth-child(1) {
      transition-delay: 0.54s;
    }

    li:nth-child(2) {
      transition-delay: 0.5s;
    }
  }

  .right {
    li:nth-child(1) {
      transition-delay: 0.6s;
    }
    li:nth-child(2) {
      transition-delay: 0.7s;
    }
  }

  .explore-apps {
    position: absolute;
    right: 40px;
    top: 8px;

    .btn {
      height: 48px;
    }
  }

  &.in {
    transform: translateY(0);

    .brand {
      transform: rotate(180deg);
      transition-delay: 0.8s;
    }

    li {
      opacity: 1;
    }
  }

  @media (max-width: $md-max) {
    display: none;
  }
}
