.hamburger-menu {
  display: none;

  @media (max-width: $lg-max) {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: $neutral900;
    position: relative;

    svg {
      width: 24px;
      height: 24px;
      fill: none;
    }

    path {
      stroke: $light200;
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-dasharray: 24 24;
      transition: 0.2s ease-in;
      transition-delay: 0.5s;
    }

    .hamburger-opened {
      position: absolute;
      top: 8px;
      left: 8px;

      path {
        transition: 0.4s ease-in;
        transition-delay: 0s;
        stroke-dashoffset: 24;
      }
    }

    &.open {
      .hamburger-closed {
        path {
          transition-delay: 0s;
          stroke-dashoffset: 24;
        }
      }

      .hamburger-opened {
        path {
          transition-delay: 0.3s;
          stroke-dashoffset: 0;
        }
      }
    }
  }
}
