.landing-roadmap {
  position: relative;
  z-index: 3;
  padding-top: 257px;
  padding-bottom: 120px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  .container {
    position: relative;
    z-index: 4;
  }

  .background-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  h2 {
    max-width: 455px;
    margin-bottom: 56px;

    .word {
      transform: translateY(16px);
      opacity: 0;
      transition: 3s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  .container {
    position: relative;
  }

  .swiper {
    overflow: initial;
    opacity: 0;
    transform: translateY(16px);
    transition: 0.6s ease-in;
  }

  .spring-swiper-container {
    &.in {
      .swiper {
        opacity: 1;
        transform: translateY(0);

        &:hover {
          .swiper-slide-content {
            opacity: 0.5;
          }

          .swiper-slide:hover {
            .swiper-slide-content {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .swiper-prev {
    right: 32px;
    top: -56px;
    left: auto;

    &:not(.swiper-button-disabled) {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  .swiper-next {
    right: 0;
    top: -56px;
    transform: translate(0, 0);
    opacity: 1;

    &:not(.swiper-button-disabled) {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  .swiper-slide {
    position: relative;
    width: 35%;
    padding-right: 104px;
    min-width: 314px;
  }

  .swiper-slide-content {
    position: relative;
    transition: 0.2s ease-in;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 32px;
      bottom: 0;
      width: 1px;
      background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.3) -1.73%,
          rgba(0, 0, 0, 0) 66.12%
        ),
        #343434;
    }
  }

  .quarter {
    position: relative;

    .gradient {
      position: relative;
      z-index: 2;
      background: radial-gradient(
        140.26% 135.18% at 108.36% -24%,
        #1e1e1e 0%,
        #000000 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .outline {
      position: absolute;
      top: 50%;
      left: 50%;
      background: linear-gradient(
        37deg,
        rgba(196, 196, 196, 1) 0%,
        rgba(196, 196, 196, 0.3) 41%,
        rgba(196, 196, 196, 0.3) 61%,
        rgba(196, 196, 196, 1) 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-stroke: 1px transparent;
      z-index: -1;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  }

  .category {
    color: $red100;
    margin: 32px 0 8px 32px;
  }

  .item {
    padding-left: 32px;
  }

  .in {
    h2 .word {
      opacity: 1;
      transform: translateY(0);

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: 0.1s + ($i * 0.035s);
        }
      }
    }
  }

  @media (max-width: $md-max) {
    padding-top: 120px;
    padding-bottom: 0;
  }
}
