.faq {
  padding-bottom: $footer-xl;
  width: 100%;

  h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0.1em;
    color: $primary100;
    margin: 32px 0;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: -32px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background: #eb3a4a;
      box-shadow: 0px 0px 16px rgba(235, 58, 74, 0.5);
    }
  }

  .Collapsible {
    background: #171717;
    padding: 32px;
    position: relative;
    margin-bottom: 16px;

    &__trigger {
      cursor: pointer;
      width: 100%;
      display: flex;
      font-size: 20px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: left;

      &:after {
        content: "";
        position: absolute;
        right: 32px;
        top: 30px;
        width: 24px;
        height: 24px;
        background: url("../assets/imgs/arrow-square-down.svg");
        background-size: cover;
        transition: 0.2s ease-in;
      }

      &.is-open {
        &:after {
          transform: rotate(180deg);
        }
      }
    }

    &__contentInner {
      margin-top: 16px;
      font-size: 14px;
      line-height: 24px;

      p {
        margin-bottom: 32px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .link {
        text-decoration: underline;

        &:hover {
          color: $primary100;
        }
      }

      b {
        text-decoration: underline;
      }
    }
  }
}
