.faq {
  padding-bottom: $footer-xl;
  width: 100%;

  h2 {
    color: $primary100;
    margin: 32px 0;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: -32px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background: #eb3a4a;
      box-shadow: 0px 0px 16px rgba(235, 58, 74, 0.5);
    }
  }
}
