.supporters {
  .partners-list {
    h2 {
      margin-bottom: 16px;
      position: relative;
      padding-left: 36px;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100px;
        background: $primary100;
        box-shadow: 0px 0px 42px $primary100;
      }
    }
  }

  .list {
    margin-top: 54px;
    max-width: 570px;

    .list-item {
      width: 33.333%;
      padding-right: 10px;
      margin: 10px 0;
      opacity: 0;
      transition: 0.3s ease-in;

      img {
        max-height: 59px;
        max-width: 100%;
      }
    }

    &.in {
      .list-item {
        opacity: 1;
      }
      @for $i from 1 through 9 {
        .list-item:nth-child(#{$i}) {
          transition-delay: 0.1s * $i;
        }
      }
    }
  }

  .swissborg {
    max-width: 302px;
    width: 100%;
    margin-top: 47px;
    margin-left: 35px;
    position: relative;

    img {
      height: 125px;
      margin-bottom: 32px;
    }
  }

  .lexend-body-xl {
    margin-bottom: 16px;

    strong {
      color: $swissborg100;
    }

    &:after {
      content: "";
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      width: 134px;
      height: 134px;
      margin-left: 67px;
      background: $swissborg100;
      filter: blur(50px);
      opacity: 0;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &.in {
      &:after {
        filter: blur(150px);
        opacity: 1;
        transition-delay: 0.3s;
      }
    }
  }

  .featured-in {
    margin: 128px 0;

    .featured-list {
      max-width: 637px;
      width: 100%;
      margin-top: 64px;

      &.in {
        .col {
          opacity: 1;
        }
        @for $i from 1 through 3 {
          .col:nth-child(#{$i}) {
            transition-delay: 0.1s * $i;
          }
        }
      }
    }

    .col {
      opacity: 0;
      transition: 0.3s ease-in;

      img {
        width: 100px;
      }

      .col-title {
        margin-top: 16px;
        font-weight: 500;
        text-align: center;
      }
    }
  }

  .articles-list {
    max-width: 906px;
    margin-top: 32px;
  }

  .invest-early {
    margin-top: 128px;

    .desc {
      margin: 16px 0 32px;
      max-width: 546px;
      width: 100%;
    }
  }

  .mobile-coming {
    display: none;
  }

  @media (max-width: $md-max) {
    .partners-list {
      h2 {
        padding-left: 0;
        margin-top: 48px;

        &:after {
          display: none;
        }
      }
    }

    .content {
      flex-direction: column;
    }

    .swissborg {
      margin-left: 0;
      text-align: left;
      align-items: flex-start;

      img {
        width: 78px;
        height: 74px;
      }
    }
  }

  @media (max-width: $sm-max) {
    h2 {
      width: 100%;
      text-align: left;
    }

    .list {
      margin-top: 0;

      .list-item {
        width: 50%;
        margin: 4px 0;
      }
    }

    .articles-list {
      margin-top: 16px;
    }

    .featured-in {
      margin: 48px 0;

      .featured-list {
        margin-top: 16px;
      }
    }

    .invest-early {
      margin-top: 48px;
      align-items: flex-start;

      h2 {
        font-size: 40px;
        line-height: 50px;
      }

      .desc {
        text-align: left;
        font-size: 14px;
        line-height: 24px;
      }
    }

    .actions {
      width: 100%;

      .btn-primary {
        width: 100%;
        padding: 16px;

        span {
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 0.1em;
          text-align: center;
        }
      }
    }

    .mobile-coming {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.1em;
      color: $light100;
      margin: 32px 0 0;
      display: block;
    }
  }

  @media (max-width: $xs-max) {
    .invest-early h2 {
      font-size: 24px;
      line-height: 30px;
    }
  }

  @media (max-width: $xxs-max) {
    .featured-list {
      flex-direction: column;
    }
  }
}
