.page-section-2 {
  height: 100vh;
}

.public-sales {
  .section-head-title {
    max-width: 430px;
  }

  .section-head-desc {
    max-width: 290px;
  }

  .parallaxed img {
    max-width: 361px;
    max-height: 574px;
  }

  .parallaxed-1 {
    &:before {
      content: "";
      position: absolute;
      bottom: 24.91%;
      right: 16.34%;
      height: 3.14%;
      width: 0;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  .parallaxed.in {
    .parallaxed-1 {
      &:before {
        background-color: $primary100;
        box-shadow: 0 0 50px rgba(235, 58, 74, 0.5);
        width: 71.75%;
      }
    }
  }

  @media (max-width: $md-max) {
    flex-direction: column;
    justify-content: flex-start;

    .description {
      flex: initial;
      padding-left: 0;
      width: 100%;
    }

    .parallaxed {
      margin-top: 40px;
      flex: initial;
    }
  }
}
