.passport-intro {
  .bg-vector {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .logo-icon {
    padding-left: 24px;
    margin-bottom: 16px;
  }

  .description {
    max-width: 470px;
    margin-left: -47px;
    position: relative;
    z-index: 3;
  }

  .progressbar {
    margin: 16px 0;
  }

  .section-head-container img {
    display: none;
  }

  .section-border {
    margin-top: -43px;
    margin-bottom: -40px;
  }

  .section-head-title {
    font-size: 62px;
    line-height: 77px;
    max-width: 370px;
  }

  .actions {
    margin-top: 48px;

    .btn-primary {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .parallaxed-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vh;
    z-index: 2;
    pointer-events: none;

    .parallaxed-layer,
    .parallaxed-base {
      height: 100%;
      right: 0;

      img {
        transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
        opacity: 0;
      }

      img,
      div {
        height: 100%;
      }
    }
  }

  .triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 0;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    background: $primary100;
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
  }

  .parallaxed-1 img {
    transform: translate(-10%, 20%);
  }

  .parallaxed-2 img {
    transform: translate(20%, 0%);
  }

  .parallaxed-4 img {
    transform: translate(0%, 20%) scale(0.6);
  }

  .parallaxed-corner.in {
    .triangle {
      height: 98px;
      transition-delay: 0.5s;
    }

    .parallaxed-1 img,
    .parallaxed-2 img,
    .parallaxed-3 img,
    .parallaxed-4 img {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
    .parallaxed-corner {
      right: -50vw;
    }
  }

  @media (max-width: $lg-max) {
    min-height: calc(100vh - 104px);

    .description {
      margin-left: 0;
      max-width: 370px;
    }

    .section-head-title {
      font-size: 46px;
      line-height: 58px;
      max-width: 280px;
    }

    .triangle {
      display: none;
    }

    .actions {
      .btn-primary {
        flex: 1;
        text-align: center;
      }

      .plus,
      .giveaways {
        display: none;
      }
    }
  }

  @media (max-width: $md-max) {
    flex-direction: column;
    width: 100%;

    .description {
      max-width: 100%;
      width: 100%;
      z-index: 1;

      .btn-primary {
        padding: 16px;
      }
    }

    .logo-icon {
      display: none;
    }

    .section-border {
      margin-top: 0;
      margin-bottom: 0;
    }

    .wave-details {
      margin-top: 24px;

      .subtitle {
        font-size: 20px;
        line-height: 25px;
      }
    }

    .wave-ends {
      flex-direction: column;

      .title {
        margin: 0 0 8px;
      }
    }

    .section-head-container {
      margin-top: 18px;
    }

    .section-head-desc {
      font-size: 16px;
      line-height: 28px;
      margin-top: 8px;
    }

    .parallaxed-corner {
      position: relative;
      height: auto;
      width: 100vw;
      margin-top: -20%;

      img {
        width: 100%;
      }
    }
  }

  @media (max-width: $sm-max) {
    .countdown-section {
      position: relative;
      margin-right: 12px;

      &:after {
        content: "";
        position: absolute;
        right: -4px;
        top: 50%;
        margin-top: -2px;
        width: 4px;
        height: 4px;
        background-color: $primary100;
      }

      &:last-child {
        margin-right: 0;

        &:after {
          display: none;
        }
      }
    }
  }

  @media (max-width: $xxs-max) {
    .countdown-section {
      margin-right: 0;

      &:after {
        display: none;
      }
    }

    .section-head-title {
      font-size: 28px;
      line-height: 36px;
    }
  }
}
