footer.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 120px 16px 38px 16px;
  background: #101010;

  .parallax-bubble {
    position: absolute;
    left: -27px;
    top: 51px;
    filter: blur(2px);
  }

  .site-brand {
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    display: flex;
    margin-left: -10px;
  }

  .link {
    &:hover {
      color: $red100 !important;
    }
  }

  .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 136px;

    .line {
      height: 1px;
      width: 100%;
      background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.3) -1.73%,
          rgba(0, 0, 0, 0) 66.12%
        ),
        #343434;
    }

    .footer-about {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 128px;

      .top-box {
        width: 100%;
        max-width: 275px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 32px;

        p {
          font-family: $lexend;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          color: $gray200;
        }
      }

      .bottom-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .line {
          display: none;
        }
      }
    }

    .footer-actions {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 57px;

      .link {
        font-family: $lexend;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        text-decoration: none;
        color: $gray100;
      }

      .footer-links {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 24px;

        .link-list {
          width: 100%;
          max-width: 180px;
          min-width: 180px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 16px;

          p {
            font-family: $lexend;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            color: $red100;
          }
        }
      }

      .bottom-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        padding-right: 101px;

        .inner-box {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            font-family: $lexend;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            color: $gray200;
          }

          .link-box {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 32px;
          }

          @media screen and (max-width: $sm-max) {
            .link-box {
              display: none;
            }
          }
        }
      }
    }

    @media screen and (max-width: $sm-max) {
      flex-direction: column;
      gap: 0;

      .footer-about {
        width: 100%;
        gap: 24px;

        .bottom-box {
          width: 100%;

          .line {
            display: block;
            margin: 24px 0;
          }
        }
      }

      .footer-actions {
        .bottom-box {
          padding-right: 0;
        }
      }
    }
  }

  @media (max-width: $xl-max) {
    .parallax-bubble {
      display: none;
    }
  }
}
