footer.footer {
  background: #101010;
  padding-top: 120px;
  padding-bottom: 38px;
  position: relative;

  .parallax-bubble {
    position: absolute;
    left: -27px;
    top: 51px;
    filter: blur(2px);
  }

  .site-brand {
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    display: flex;
    margin-left: -10px;
  }

  .footer-about {
    width: 40%;

    p {
      max-width: 388px;
      color: #878787;
      margin-top: 24px;
      margin-bottom: 32px;
    }
  }

  .footer-actions {
    width: 60%;
  }

  .spacer {
    height: 1px;
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.3) -1.73%,
        rgba(0, 0, 0, 0) 66.12%
      ),
      #343434;
  }

  .category {
    color: $red100;
    margin-bottom: 8px;
  }

  .cols {
    padding-bottom: 49px;
  }

  .col {
    a {
      padding: 8px 0;
      color: #fff;
      position: relative;
      transition: 0.15s ease-in;

      &:hover {
        color: $red100;
      }
    }
  }

  .copyright {
    padding-top: 16px;
  }

  .in {
    .site-brand {
      transform: rotate(180deg);
      transition-delay: 0.8s;
    }
  }

  @media (max-width: $xl-max) {
    .parallax-bubble {
      display: none;
    }
  }

  @media (max-width: $md-max) {
    .container {
      flex-direction: column;
    }

    .footer-actions {
      width: 100%;
    }

    .footer-about {
      margin-bottom: 32px;

      .social-icons {
        margin-top: 32px;
      }
    }
  }

  @media (max-width: $sm-max) {
    .col {
      flex: 0 0 50%;

      &:last-child,
      &:nth-child(3) {
        margin-top: 48px;
      }
    }

    .cols {
      flex-wrap: wrap;
    }
  }
}
