.collectibles {
  .section-head-container {
    max-width: 608px;

    .logo-icon img {
      height: 10px;
    }
  }

  .lexend-body-m {
    max-width: 565px;
  }

  .collectible-details {
    padding: 32px;
    background-color: $dark100;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 482px;
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);

    .collectible-image {
      width: 115px;
      height: 105px;
      position: relative;
      margin-right: 32px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    .line {
      margin-top: 8px;
      color: #777777;

      span {
        color: white;
      }

      a {
        font-weight: 500;
        text-decoration: underline;
        margin-left: 16px;
      }
    }

    .rarity {
      margin-right: 16px;

      span.rare {
        color: #b62ae7;
      }
      span.legendary {
        color: #cc9834;
      }
    }

    .collectible-data {
      letter-spacing: 0;
    }
  }

  .parallaxed {
    .parallaxed-1 img,
    .parallaxed-2 img {
      max-width: 276px;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &.state-0 {
      .parallaxed-2 img {
        opacity: 0;
      }
      .parallaxed-1 img {
        opacity: 1;
      }

      .collectible-details:first-child {
        opacity: 1;
      }
      .collectible-details:last-child {
        opacity: 0;
      }
    }

    &.state-1 {
      .parallaxed-2 img {
        opacity: 1;
      }
      .parallaxed-1 img {
        opacity: 0;
      }

      .collectible-details:first-child {
        .collectible-image,
        .collectible-data {
          opacity: 0;
        }
      }
      .collectible-details:last-child {
        .collectible-image,
        .collectible-data {
          opacity: 1;
        }
      }
    }
  }

  @media (max-width: $lg-max) {
    flex-direction: column-reverse;

    .parallaxed {
      margin-top: 64px;
    }

    .description {
      margin-top: 128px;
      width: 100%;
    }
  }

  @media (max-width: $xs-max) {
    .collectible-details {
      padding: 8px;
      width: 268px;

      .collectible-image {
        width: 70px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: auto;
          position: relative;
          top: 0;
          left: 0;
        }
      }

      .name {
        font-size: 12px;
      }

      .line {
        font-size: 9px;
        line-height: 5px;

        a {
          display: none;
        }
      }
    }

    .parallaxed .parallaxed-1 img,
    .parallaxed .parallaxed-2 img {
      max-height: 400px;
    }
  }
}
