.invest-navigation-container {
  position: relative;
  margin-bottom: 80px;
  height: 48px;

  @media (max-width: $sm-max) {
    margin-bottom: 48px;
  }
}

.invest-navigation {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

  &.sticky {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .tabs {
    padding-bottom: 0;
  }

  .heads {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: $lg-max) {
    &.sticky {
      top: 79px;
    }

    .sticky-tabs {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #111;
    }
  }

  @media (max-width: $sm-max) {
    .sticky-tabs {
      justify-content: flex-start;
    }
  }
}
