.about-xborg {
  .pioneering-title {
    margin-bottom: 24px;
  }

  .page-desc {
    max-width: 667px;
    width: 100%;
    letter-spacing: 0.05em;

    .paragraph {
      margin-bottom: 48px;
    }
  }

  .video-container {
    max-width: 520px;

    .responsive-video-container {
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      transform: translateY(50px);
      opacity: 0;
    }

    &.in {
      .responsive-video-container {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .statistics {
    margin-top: 32px;

    .col {
      margin: 0 16px;
    }

    .stats-value {
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
    }

    .stats-label {
      font-size: 12px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.05em;
    }
  }

  @media (max-width: $sm-max) {
    .page-desc {
      width: 100%;
      text-align: left;
      margin-top: 0;
      max-width: 100%;

      .paragraph {
        margin-bottom: 32px;
      }
    }

    .statistics {
      flex-wrap: wrap;
      margin-top: 16px;

      .col {
        width: 50%;
        margin: 16px 0 0;
      }
    }
  }
}
