.prometheus-page {
  .section-head-container {
    margin-bottom: 60px;
  }

  .list-data {
    margin: 0 -16px;

    .col {
      margin-bottom: 32px;
      width: 50%;
      padding: 0 16px;
    }

    .title {
      font-weight: 700;
      letter-spacing: 0.05em;
      color: $primary100;
      margin: 0 0 16px 32px;
      position: relative;
      color: $primary100;

      &:after {
        content: "";
        position: absolute;
        left: -32px;
        width: 16px;
        height: 16px;
        background-color: $primary100;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .desc {
      font-weight: 500;
    }
  }

  .hype-separator {
    margin: 32px 0 64px;
  }

  .table {
    .table-heading {
      background-color: #111111;
      color: $gray100;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      padding: 16px;
    }

    .table-entry {
      font-size: 14px;
      font-weight: 500;
      color: $gray100;
      line-height: 24px;
      padding-bottom: 12px;
      padding-left: 16px;
      border-bottom: 1px solid $gray700;
      height: 40px;
      line-height: 40px;
    }

    &:before {
      display: none;
    }

    .table-column:last-child {
      span {
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        padding: 8px;
        background-color: #212121;
        color: $white;
      }
    }
  }

  .embark {
    margin-top: 43px;
  }

  .actions {
    margin-top: 32px;
  }

  .section-desc {
    max-width: 546px;
  }

  .parallaxed img {
    max-width: 639px;
    max-height: 646px;
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .parallaxed-1 img {
    transform: translate(20%, 20%);
    opacity: 0;
  }

  .parallaxed-2 img {
    transform: translate(-20%, 0);
    opacity: 0;
  }

  .parallaxed-3 img {
    transform: translate(20%, 0);
    opacity: 0;
  }

  .parallaxed-4 {
    &:after {
      content: "";
      position: absolute;
      bottom: 16.43%;
      left: 50%;
      transform: translateX(-50%);
      height: 1.7%;
      width: 0;
      transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  .parallaxed-5 img {
    transform: scale(0.5) translateY(20%);
    opacity: 0;
  }

  .parallaxed.in {
    .parallaxed-4 {
      &:after {
        width: 76%;
        background-color: $primary100;
        box-shadow: 0 0 4px rgba(235, 58, 74, 0.5);
      }
    }

    .parallaxed-1 img,
    .parallaxed-2 img,
    .parallaxed-3 img,
    .parallaxed-5 img {
      opacity: 1;
      transform: translate(0, 0);
      transition-delay: 0.4s;
    }
  }

  @media (max-width: 1405px) {
    .table {
      display: none;
    }
  }

  @media (max-width: $md-max) {
    .prometheus-intro {
      flex-direction: column;
    }

    .section-head-container {
      margin-bottom: 0;
    }

    .list-data {
      margin-top: 32px;
    }
  }

  @media (max-width: $sm-max) {
    .list-data {
      .col {
        width: 100%;
      }
    }
  }
}
