.scroll-down {
  position: fixed;
  z-index: 3;
  bottom: -64px;
  left: 50%;
  margin-left: -96px;
  padding: 64px;
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  span {
    color: #2b2b2b;
    text-decoration: none;
    background: radial-gradient(
      circle,
      rgba(235, 58, 74, 1) 0%,
      rgba(43, 43, 43, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    animation: scrollDownBlinkAnimation 5s infinite;
  }

  a {
    &:hover {
      span {
        background: radial-gradient(
          circle,
          rgba(235, 58, 74, 1) 0%,
          rgba(235, 58, 74, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    svg {
      animation: scrollDownAnimation 2s infinite;
    }
  }

  &:hover {
    span {
      animation: initial;
    }
  }
}
