.tier-one {
  .games {
    flex-wrap: wrap;
    margin-top: 35px;

    img {
      width: 202px;
      opacity: 0;
      transform: scale(0.6);
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &.in {
      img {
        transform: scale(1);
        opacity: 1;
      }
    }

    .single-game {
      flex: 0 0 50%;

      &:nth-child(2) img {
        transition-delay: 0.2s;
      }

      &:nth-child(3) img {
        transition-delay: 0.4s;
      }
      &:nth-child(4) img {
        transition-delay: 0.6s;
      }
      &:nth-child(5) img {
        transition-delay: 0.8s;
      }
    }
  }

  @media (max-width: $md-max) {
    & > .row.expand {
      flex-direction: column-reverse;
      justify-content: flex-start;
    }

    .games {
      .single-game {
        justify-content: center;
        align-items: center;
        flex: 0 0 100%;
      }
    }

    .description {
      flex: initial;
      padding-left: 0;
      width: 100%;
    }

    .parallaxed {
      margin-top: 40px;
      flex: initial;
    }
  }

  @media (max-width: $xs-max) {
    .games {
      .desc {
        font-size: 12px;
      }
    }
  }
}
