.tier-one {
  .games {
    flex-wrap: wrap;
    margin-top: 35px;

    img {
      width: 202px;
    }

    .single-game {
      flex: 0 0 50%;
    }
  }

  @media (max-width: $md-max) {
    & > .row.expand {
      flex-direction: column-reverse;
      justify-content: flex-start;
    }

    .games {
      .single-game {
        flex: 0 0 100%;
      }
    }

    .description {
      flex: initial;
      padding-left: 0;
      width: 100%;
    }

    .parallaxed {
      margin-top: 40px;
      flex: initial;
    }
  }

  @media (max-width: $xs-max) {
    .games {
      img {
        width: 102px;
      }

      .desc {
        font-size: 12px;
      }
    }
  }
}
