.get-scouted {
  .section-head-desc {
    max-width: 450px;
  }

  .parallaxed img {
    max-width: 449px;
    max-height: 497px;
    opacity: 0;
    transform: translate(10%, 10%);
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .parallaxed.in {
    img {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @media (max-width: $md-max) {
    flex-direction: column;
    justify-content: flex-start;

    .description {
      flex: initial;
      padding-left: 0;
      width: 100%;
    }

    .parallaxed {
      margin-top: 40px;
      flex: initial;
    }
  }
}
