.page-section.page-section-0 {
  max-width: 100%;
}

.play-intro {
  h1.vista-xl {
    max-width: 480px;
    span {
      white-space: nowrap;
    }
  }

  .lexend-body-m {
    margin: 16px 0 16px;
    max-width: 415px;
  }

  .tags-row {
    margin-bottom: 16px;
  }

  .actions {
    max-width: 520px;

    .btn-primary {
      margin-right: 32px;
    }
  }

  .description {
    position: relative;
    z-index: 3;
  }

  .corner-filler {
    position: absolute;
    bottom: 0;
    left: 0;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 450px;
      height: auto;
      transform: translate(-10%, -20%);
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      opacity: 0;
    }
  }

  .cubes {
    .cube-1 {
      position: absolute;
      left: 48%;
      top: 34%;
      width: 208px;
      height: 208px;
      backdrop-filter: blur(8px);
      background-color: rgba(17, 17, 17, 0.6);
      z-index: 1;
      box-shadow: inset 0 0 52px #435d5d;
      opacity: 0;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .cube-2 {
      position: absolute;
      left: 86%;
      top: -3%;
      width: 119px;
      height: 119px;
      backdrop-filter: blur(8px);
      background-color: rgba(17, 17, 17, 0.2);
      z-index: 3;
      box-shadow: inset 0 0 28px #4b5d61;
      opacity: 0;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .cube-3 {
      position: absolute;
      left: 83%;
      top: 70%;
      width: 61px;
      height: 61px;
      backdrop-filter: blur(8px);
      background-color: rgba(17, 17, 17, 0.2);
      z-index: 3;
      box-shadow: inset 0 0 20px #6b6b6b;
      opacity: 0;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  .parallaxed-background {
    position: absolute;
    top: -90px;
    right: 0;
    bottom: 0;

    div {
      height: 100%;
    }

    img {
      height: 100%;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      opacity: 0;
      transform: translate(10%, -20%);
    }

    &.in {
      img {
        transform: translate(0, 0);
        opacity: 1;
      }

      .parallaxed-2 img {
        transition-delay: 0.1s;
      }
      .parallaxed-3 img {
        transition-delay: 0.2s;
      }
      .parallaxed-4 img {
        transition-delay: 0.3s;
      }
    }
  }

  &.in {
    .corner-filler {
      img {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

    .cubes {
      .cube-1,
      .cube-2,
      .cube-3 {
        opacity: 1;
      }

      .cube-1 {
        transition-delay: 0.8s;
      }

      .cube-2 {
        transition-delay: 0.6s;
      }

      .cube-3 {
        transition-delay: 0.4s;
      }
    }
  }

  @media (max-width: $lg-max) {
    min-height: calc(100vh - 104px);

    .parallaxed-background {
      opacity: 0.2;
    }

    .corner-filler img {
      width: 200px;
    }

    .cubes {
      display: none;
    }

    .description {
      margin-left: 0;
    }
  }

  @media (max-width: $md-max) {
    .description {
      max-width: 100%;
      width: 100%;
      z-index: 1;
      padding: 32px 0 64px;
    }

    .cubes,
    .corner-filler {
      display: none;
    }
  }

  @media (max-width: 410px) {
    .actions {
      flex-direction: column;
      align-items: flex-start;

      .btn-secondary {
        margin-top: 16px;
      }
    }
  }

  @media (max-width: $sm-max) {
    h1.vista-xl {
      span {
        white-space: initial;
      }
    }

    .statistics {
      flex-wrap: wrap;
      margin-top: 40px;

      .col {
        flex: 0 0 50%;
        margin: 16px 0 0;
      }
    }

    .actions {
      .btn-primary {
        padding: 16px;
        width: 100%;
        text-align: center;
      }
    }
  }
}
