.btn-red {
  padding: 8px 16px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  background-color: $red100;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  color: #fff;

  span {
    position: relative;
    z-index: 3;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &.loading {
    span {
      opacity: 0;
    }

    .loading-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    background-color: $red200;
  }
}
