.page-section-2 {
  height: 100vh;
}

.gaming-profile {
  .parallaxed {
    max-height: 524px;
  }

  .description {
    padding-left: 80px;
  }

  .section-head-desc {
    max-width: 560px;
  }

  @media (max-width: $md-max) {
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 100%;

    .description {
      flex: initial;
      padding-left: 0;
      width: 100%;
    }

    .parallaxed {
      margin-top: 40px;
      flex: initial;
    }
  }
}
