.roadmap {
  overflow: hidden;
  margin: 0 -20px;

  .section-head-container {
    max-width: 550px;
  }

  .description {
    margin-bottom: 37px;
    margin: 0 20px;
  }

  [data-simplebar] .simplebar-content {
    overflow: initial;
  }

  .roadmap-content {
    display: inline-flex;
    min-width: 100%;
    margin-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .roadmap-item {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 350px;
    transition: 0.2s ease-in;
  }

  .roadmap-item-line {
    position: relative;
    opacity: 0;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      background-color: #212121;
      height: 1px;
    }

    .cube {
      width: 24px;
      height: 24px;
      background: #111111;
      box-shadow: 0px 0px 32px #eb3a4a;
      position: relative;
      z-index: 1;

      &.active {
        background-color: $primary100;
      }
    }

    .plus {
      font-size: 32px;
      font-weight: 900;
      line-height: 40px;
      letter-spacing: 0.05em;
      color: $primary100;
      width: 24px;
      height: 24px;
      position: relative;
      z-index: 1;
    }
  }

  .roadmap-index {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 10px 0;
    width: 24px;
    text-align: center;
  }

  .roadmap-separator {
    border: 2px solid #eb3a4a;
    width: 0;
    height: 83px;
    margin-left: 6px;
  }

  .roadmap-details {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
  }

  .roadmap-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: $primary100;
  }

  img {
    width: 139px;
  }

  .roadmap-space {
    height: 16px;
  }

  .roadmap-item-top {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateY(40px);
    opacity: 0;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    .roadmap-separator {
      margin-top: 16px;
    }

    .roadmap-title {
      margin-bottom: 16px;
    }
  }

  .roadmap-item-bottom {
    height: 240px;
    opacity: 0;
    transform: translateY(-40px);
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    .roadmap-title {
      margin: 16px 0;
    }

    .roadmap-separator {
      margin-bottom: 16px;
    }

    .btn-secondary {
      margin-top: 16px;
    }
  }

  .roadmap-item.in {
    .roadmap-item-line {
      opacity: 1;
    }

    .roadmap-item-bottom {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 0.2s;
    }

    .roadmap-item-top {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 0.2s;
    }
  }

  .footer-links {
    bottom: 0;
  }

  @media (max-width: $md-max) {
    .description {
      margin-top: 64px;
    }
  }
}
