.roadmap {
  .section-head-container {
    max-width: 550px;
  }

  .description {
    margin-bottom: 37px;
  }

  .roadmap-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
  }

  .roadmap-item-top {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .roadmap-item-bottom {
    height: 200px;
  }

  .roadmap-item-line {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      background-color: #212121;
      height: 1px;
    }

    .cube {
      width: 24px;
      height: 24px;
      background: #111111;
      box-shadow: 0px 0px 32px #eb3a4a;
      position: relative;
      z-index: 1;

      &.active {
        background-color: $primary100;
      }
    }

    .plus {
      font-size: 32px;
      font-weight: 900;
      line-height: 40px;
      letter-spacing: 0.05em;
      color: $primary100;
      width: 24px;
      height: 24px;
      position: relative;
      z-index: 1;
    }
  }

  .roadmap-index {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 10px 0;
    width: 24px;
    text-align: center;
  }

  .roadmap-separator {
    border: 4px solid #eb3a4a;
    width: 0;
    height: 83px;
    margin-left: 6px;
  }

  .roadmap-details {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
  }

  .roadmap-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: $primary100;
  }

  img {
    width: 139px;
  }
}
