.infrastructure-introduction {
  width: 100vw;
  overflow: hidden;

  @media screen and (min-width: $lg-start) {
    min-height: 100vh;
  }

  .px-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .top-left {
    position: absolute;
    left: 0;
    top: 0;

    @media screen and (max-width: $md-max) {
      display: none;
    }
  }

  .introduction-content {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    @media screen and (max-width: $md-max) {
      position: static;
      transform: unset;
      margin-top: 120px;
    }

    .introduction-main {
      width: 100%;
      display: flex;

      @media screen and (max-width: $md-max) {
        flex-direction: column;
      }

      .introduction-left {
        position: relative;
        z-index: 1;

        .integralfc-h1 {
          margin-bottom: 24px;

          @media screen and (max-width: $xs-max) {
            font-size: 40px;
          }

          @media screen and (min-width: 361px) and (max-width: 390px) {
            font-size: 36px;
            line-height: 1.2;
          }

          @media screen and (max-width: 360px) {
            font-size: 34px;
            line-height: 1.2;
          }
        }

        .lexend-body-sm {
          @media screen and (min-width: $lg-start) {
            max-width: 496px;
          }

          line-height: 20px;
          color: $gray300;
        }
      }

      .introduction-right {
        flex-grow: 1;
        position: relative;

        .bg {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(calc(-50% - 2%), -50%) scale(1.1);

          &.sm {
            width: 100vw;
            height: auto;
            transform: translate(calc(-50%), -50%);

            @media screen and (min-width: $sm-start) {
              display: none;
            }
          }

          &:not(.sm) {
            @media screen and (max-width: $xs-max) {
              display: none;
            }
          }
        }

        .inner-content {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 100%;
          gap: 20px;

          .first {
            min-height: 250px;
            width: 100%;

            @media screen and (max-width: $md-max) {
              min-height: 140px;
            }
          }

          .text-center {
            text-align: center;

            .lexend-body-xs {
              font-size: 10px;
            }

            .xborg-id {
              max-width: 68px;
              margin-left: auto;
              margin-right: auto;
            }
          }

          .intro-logo {
            @media screen and (max-width: $sm-max) {
              width: 78px;
              height: 78px;
            }
          }

          .pills {
            gap: 8px;
            width: 100%;

            .pill {
              padding: 1px;
              background-image: linear-gradient(to right, #868686, #00000000);
              border-radius: 999px;

              .pill-inner {
                border-radius: 999px;
                padding: 14px 20px;
                min-width: 60px;
                height: 48px;
                display: flex;
                align-items: center;
                background-color: #080808;

                @media screen and (max-width: $xs-max) {
                  height: 38px;
                }

                .pill-text {
                  background: linear-gradient(
                    90deg,
                    #ababab 0%,
                    #2d2d2d 102.73%
                  );
                  background-clip: text;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;

                  @media screen and (max-width: $xs-max) {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .lexend-text-sm {
      color: $red100;
      text-transform: uppercase;
      margin-bottom: 24px;
      opacity: 0;
      transition: 0.6s ease-in;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
    }

    h1 {
      @media screen and (min-width: $lg-start) {
        max-width: 650px;
      }
    }

    .actions {
      margin-top: 54px;
      transition: 0.6s ease-in;
      opacity: 0;

      .btn {
        color: #fff;
        height: 56px;
      }
    }
  }

  .in {
    .lexend-text-sm {
      opacity: 1;
      transition-delay: 0.4s;
    }

    .actions {
      opacity: 1;
      transition-delay: 0.4s;
    }
  }

  @media (max-width: $md-max) {
    .introduction-content {
      top: 120px;
      left: 0;
      transform: translate(0, 0);
      align-items: flex-start;
      justify-content: flex-start;

      h1 {
        // max-width: 361px;
      }
    }
  }
}
