.table {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -47px;
    width: 100vw;
    height: 51px;
    background-color: $primary100;
  }

  .table-heading {
    font-family: $vistaNordic;
    letter-spacing: 0.1rem;
    position: relative;
    line-height: 51px;
    margin-bottom: 16px;
  }

  @media (max-width: $lg-max) {
    &:before {
      left: -19px;
    }
  }

  @media (max-width: $sm-max) {
    flex-direction: column;

    &:before {
      display: none;
    }

    .table-heading {
      background-color: $primary100;
      margin: 0 -24px;
      padding: 0 24px;
    }
  }

  @media (max-width: $xs-max) {
    .table-heading {
      font-size: 12px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
}
