.subscribe {
  width: 100%;
  max-width: 487px;
  position: relative;
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .success-message {
    margin: 10px auto;
    color: $green200;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    svg {
      margin-left: 8px;
    }
  }

  .success {
    .btn {
      background-color: $green200 !important;
    }

    .success-message {
      opacity: 1;
      z-index: 3;
      transition-delay: 0.4s;
    }
  }
}
