.xbg-introduction {
  position: relative;
  width: 100vw;
  min-height: 714px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: #e4e4e7;
  }

  p {
    color: #cacace;
  }

  .inner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 714px;
    width: 100%;
    max-width: 1440px;
  }

  .introduction-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 714px;
    z-index: -1;

    .bg {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .bg-data {
      right: -204px;
    }
  }

  .parallax-bubble {
    position: absolute;
    bottom: -111px;
    left: -20px;
  }

  .introduction-content {
    width: max-content !important;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 100%;
    padding: 120px 0;
    flex: 1;

    .lexend-text-sm {
      color: $red100;
      text-transform: uppercase;
      margin-bottom: 24px;
      opacity: 0;
      transition: 0.6s ease-in;
    }

    h1 {
      max-width: 700px;

      .word {
        transform: translateY(16px);
        opacity: 0;
        transition: 0.6s ease-in;
      }
    }

    p {
      margin-top: 24px;
      max-width: 496px;
    }

    .actions {
      margin-top: 56px;
      transition: 0.6s ease-in;
      opacity: 0;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;

      p {
        margin: 0;
      }

      .btn {
        color: #fff;
        height: 56px;
      }
    }

    .vertical-line {
      position: absolute;
      left: -75px;
      bottom: 75px;
      width: 7px;
    }

    .plus {
      position: absolute;
      left: -80px;
      bottom: 38px;
    }

    .horizontal-line {
      position: absolute;
      left: -40px;
      bottom: 41px;
      height: 7px;

      .last-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7px;
        border-right: 1px solid #fff;
      }
    }
  }

  .in {
    .lexend-text-sm {
      opacity: 1;
      transition-delay: 0.4s;
    }

    .actions {
      opacity: 1;
      transition-delay: 0.4s;
    }

    h1 .word {
      opacity: 1;
      transform: translateY(0);

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: 0.1s + ($i * 0.035s);
        }
      }
    }
  }

  @media (max-width: $xs-max) {
    .introduction-bg {
      top: 40%;
      right: -13% !important;
    }
  }

  @media (max-width: $sm-max) {
    min-height: 1200px;
    justify-content: flex-start;
    align-items: flex-start;

    .inner-container {
      flex: 1;
    }

    .introduction-content {
      flex: 1;

      .horizontal-line {
        bottom: 40px;
        left: 0;
      }

      .vertical-line,
      .plus {
        display: none;
      }
    }

    .introduction-bg {
      top: 40%;
      right: -5%;
    }
  }

  @media (max-width: $xl-max) {
    align-items: flex-start !important;
    .inner-container {
      align-items: flex-start !important;
    }
  }

  @media (max-width: $md-max) {
    .introduction-content {
      align-items: flex-start !important;
      justify-content: flex-start;

      h1,
      p {
        max-width: 396px;
      }
    }
  }
}
