.credential-network {
  margin-top: 66px;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

  .chevron {
    width: 85px;
    opacity: 0;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .cn-block {
    width: 319px;
    background: #111111;
    padding: 32px 32px 32px 48px;
    position: relative;
    margin: 16px 0;
    height: 84px;
    opacity: 0;
    transform: translateX(-30px);
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    &:after {
      content: "";
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background: $primary100;
      box-shadow: 0px 0px 32px $primary100;
    }
  }

  .gaming-credential-layer {
    width: 316px;
    height: 316px;
    margin-top: 16px;
    position: relative;
    opacity: 0;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }

    .title {
      width: 158px;
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
      text-align: center;
      margin: 32px 0;
      opacity: 0;
      transform: scale(0.8);
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .cube {
      width: 16px;
      height: 16px;
      background: $primary100;
      box-shadow: 0px 0px 32px $primary100;
      opacity: 0;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

      &.cube-first {
        transform: translateY(30px);
      }
      &.cube-second {
        transform: translateY(-30px);
      }
    }
  }

  .credential-network-details {
    padding-left: 32px;

    .title {
      font-size: 20px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0.05em;
      color: $primary100;
      position: relative;
      padding-left: 20px;
      opacity: 0;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 32px;
        background: $primary100;
        box-shadow: 0px 0px 42px $primary100;
      }
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.05em;
      color: $light100;
      opacity: 0;
      transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .space {
      height: 32px;
    }
  }

  .credential-details-wrapper.in {
    .cn-block {
      opacity: 1;
      transform: translate(0, 0);
    }
    .cn-block-second {
      transition-delay: 0.1s;
    }
    .cn-block-third {
      transition-delay: 0.2s;
    }
    .chevron {
      opacity: 1;
    }
    .chevron-first {
      transition-delay: 0.3s;
    }
    .chevron-second {
      transition-delay: 0.4s;
    }
    .chevron-third {
      transition-delay: 0.5s;
    }
    .gaming-credential-layer {
      opacity: 1;
      transition-delay: 0.6s;

      .cube {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.6s;
      }

      .title {
        opacity: 1;
        transform: scale(1);
        transition-delay: 0.8s;
      }
    }
    .credential-network-details {
      .title {
        opacity: 1;
        transition-delay: 0.8s;
      }
      p {
        opacity: 1;
        transition-delay: 0.9s;
      }
    }
  }

  @media (max-width: 1367px) {
    .credential-details-wrapper {
      flex-wrap: wrap;
    }

    .credential-network-details {
      flex: 0 0 100%;
      margin-top: 64px;
      padding-left: 0;
    }
  }

  @media (max-width: 800px) {
    .block-container {
      flex-direction: column;

      .cn-block {
        margin: 0;
      }

      .chevron {
        transform: rotate(90deg);
      }
    }
  }

  @media (max-width: $md-max) {
    margin-top: 32px;

    .credential-network-parallaxed {
      .block-container {
        margin-top: 0;
      }
    }
  }
}
