.vision-intro-parallaxed-container.state-3.changing {
  @import "./StateAll";

  .block-container.in .block {
    opacity: 0;
    transform: translateX(-50px);

    &:before {
      transform: translateX(50px);
      transition-delay: 0s;
    }
  }

  .application-network {
    .subtitle {
      opacity: 0;
    }

    .parallaxed-1 img {
      opacity: 0;
      transform: translateY(-25%) translateX(-20%) scale(0.8);
    }

    .parallaxed-2 {
      img {
        opacity: 0;
        transform: translateY(25%) translateX(20%) scale(0.8);
      }
    }
  }
}
