.vision-intro-parallaxed-container.state-4.static {
  @import "./StateAll";

  .list.in {
    .col {
      opacity: 1;
    }
  }

  .parallaxed {
    .btn-secondary {
      opacity: 1;
    }
  }

  .line-indicator:after {
    transform: translateY(-75%);
    margin-top: -30px;
  }
}
