.vision-intro-parallaxed-container.state-3.static {
  @import "./StateAll";

  .block-second:before {
    display: block !important;
  }

  .row.column.in {
    .red-highlight {
      &:after {
        width: 100%;
      }

      span {
        opacity: 1;
      }
    }

    .big-title {
      opacity: 1;
    }

    .action {
      opacity: 1;
      transform: translateX(0);
      transition-delay: 0.5s;
    }
  }
}
