.section-head-container {
  opacity: 0;
}

.description {
  margin-left: -100%;
  overflow: hidden;
  transition-delay: 0.3s;
}

.line-indicator {
  margin-top: 30px;

  &:after {
    left: -16px;
    height: 100vh;
  }
}

.vision-intro-parallaxed {
  left: 0;
  transform: translateX(0) translateY(-50%);
  width: 100%;
}

.chevron {
  opacity: 0;
}

.block-container {
  .block {
    opacity: 0;
    transform: translateX(-50px);

    &:before {
      transform: translateX(50px);
      transition-delay: 0s;
    }
  }

  &.in {
    .block {
      opacity: 1;
      transform: translateX(0);

      &:before {
        transform: translateX(0);
        transition-delay: 0s;
      }
    }
  }
}
