/* Brand animation */
@keyframes animateBrand1 {
  0% {
    height: 64px;
    width: 64px;
  }
  20% {
    height: 64px;
    width: 64px;
  }

  50% {
    height: 0px;
    width: 64px;
  }

  80% {
    height: 64px;
    width: 64px;
  }
  100% {
    height: 64px;
    width: 64px;
  }
}

@keyframes scrollDownAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes scrollDownBlinkAnimation {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}

@keyframes circle {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes ccircle {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
