// Color schema
$red100: #eb3a4a;
$red200: #c71e2d;

$green200: #44ff57;

$gray100: #f0f0f0;
$gray200: #e4e4e6;
$gray300: #cacace;

$black: #000000;
$white: #ffffff;

$lexend: Lexend, sans-serif;
$integralCF: Integral CF;
