// CORE
@import 'variables';
@import 'grid-config';
@import 'reset';
@import 'flex';
@import 'typography';
@import 'keyframes';
@import 'simplebar';
@import 'swiper';
@import 'tippy';
@import 'toast';

// COMPONENTS
@import '../components/Brand/Brand';
@import '../components/Buttons/Buttons';
@import '../components/Navigation/Navigation';
@import '../components/Footer/Footer';
@import '../components/SpringSwiper/SpringSwiper';
@import '../components/Forms/Forms';
@import '../components/Progressbar/Progressbar';
@import '../components/Loader/Loader';
@import '../components/ScrollDown/ScrollDown';
@import '../components/Buttons/LinkButton/LinkButton';
@import '../components/CardBlock/CardBlock';
@import '../components/SocialIcons/SocialIcons';
@import '../components/FlashlightCursor/FlashlightCursor';
@import '../components/FlashlightCursorWrapper/FlashlightCursorWrapper';

// MODULES
@import '../modules/landing/landing';
@import '../modules/about/about';
@import '../modules/xbg/xbg';

// PAGES
@import '../pages/landing/landing';

// POPUPS
.page-scrollbar {
  height: 100vh;
  width: 100%;
}

html {
  -webkit-tap-highlight-color: transparent;
}
